﻿@model ESP.AppServer.Entities.CodeSigningTool

@{
    ViewBag.Title = "Signing Tool";
}

<hgroup class="title">
    <h2>@ViewBag.Title - <font color="#000000">@Model.Name</font></h2>
    <h3>@ViewBag.Message</h3>
</hgroup>

<hr />

<script type="text/javascript">
    function Cancel() {
        window.location = "/CodeSigningTool/ManageCodeSigningTools/";
    }

</script>

@using (Html.BeginForm("SaveCodeSigningTool", "CodeSigningTool", FormMethod.Post, new { name = "SaveCodeSigningTool" }))
{ 
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)


<table width="80%" id="tblCodeSigningTools">

</table>

<table width="80%">
    <tr>
        <td align="left">
            <input type="button" value="Cancel" onclick="Cancel();" />
        </td>
        <td align="right">
            <input type="submit" value="Save"/>
        </td>
    </tr>
</table>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}