﻿@model CSG.AppServer.Entities.CodeSigningTool

@{
    ViewBag.Title = "Signing Tool";
}

<hgroup class="title">
    <h2>@ViewBag.Title - <font color="#000000">@Model.Name</font></h2>
    <h3>@ViewBag.Message</h3>
</hgroup>

<hr />

<script type="text/javascript">
    function OfflineClick() {
        var signingArguments = document.getElementById("rwSigningArguments");
        var verifyArguments = document.getElementById("rwVerifyArguments");
        var signingConfig = document.getElementById("rwSigningConfig");
        var argType = document.getElementById("rwArgType");
        var timestampServer = document.getElementById("rwTimestampServer");

        if (document.getElementById("cbOffline").checked == true)
        {
            signingArguments.style.display = 'none';
            verifyArguments.style.display = 'none';
            signingConfig.style.display = 'none';
            argType.style.display = 'none';
            timestampServer.style.display = 'none';
        }
        else
        {
            signingArguments.style.display = 'table-row';
            verifyArguments.style.display = 'table-row';
            signingConfig.style.display = 'table-row';
            argType.style.display = 'table-row';
            timestampServer.style.display = 'table-row';
        }
    }
    function Cancel() {
        window.location = "/CodeSigningTool/ManageSigningTools/";
    }

    $(document).ready(function () {
        @{
            if (Model.Offline == true)
            {
                <text>
                    document.getElementById("rwSigningArguments").style.display = "none";
                    document.getElementById("rwVerifyArguments").style.display = "none";
                    document.getElementById("rwSigningConfig").style.display = "none";
                    document.getElementById("rwArgType").style.display = "none";
                    document.getElementById("rwTimestampServer").style.display = "none";
                </text>

            }
        }
    });
</script>

@using (Html.BeginForm("SaveCodeSigningTool", "CodeSigningTool", FormMethod.Post, new { name = "SaveCodeSigningTool" }))
{
    @Html.HiddenFor(m => m.Id)
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)


    <table width="80%" id="tblCodeSigningTools"></table>

    <table width="80%">
        <tr>
            <th>
                Name
            </th>
            <td>
                @Html.TextBoxFor(m => m.Name)
                @Html.ValidationMessageFor(m => m.Name)
            </td>
        </tr>
        <tr id="rwSigningArguments">
            <th>
                Additional Signing Arguments
            </th>
            <td>
                @Html.TextBoxFor(m => m.CommonSigningArguments, new { @id = "tbSigningArguments" })
                @Html.ValidationMessageFor(m => m.CommonSigningArguments)
            </td>
        </tr>
        <tr id="rwVerifyArguments">
            <th>
                Additional Verification Arguments
            </th>
            <td>
                @Html.TextBoxFor(m => m.CommonVerificationArguments, new { @id = "tbVerificationArguments" })
                @Html.ValidationMessageFor(m => m.CommonVerificationArguments)
            </td>
        </tr>
        <tr id="rwArgType">
            <th>
                Arguments Format
            </th>
            <td>
                @Html.DropDownList("ddlCommandLineType", ViewBag.CommandLineTypes as SelectList, new { @id = "slCommandLineType" })
            </td>
        </tr>
        <tr id="rwTimestampServer">
            <th>
                Timestamp Server
            </th>
            <td>
                @Html.TextBoxFor(m => m.TimestampServer)
            </td>
        </tr>

        <tr>
            <td align="left">
                <input type="button" value="Cancel" onclick="Cancel();" />
            </td>
            <td align="right">
                <input type="submit" value="Save" />
            </td>
        </tr>
    </table>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}