﻿@{
    ViewBag.Title = "Manage Signing Tools";
}

<hgroup class="title">
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>

<hr />

<script type="text/javascript">
    function Edit(toolId) {
        window.location = "/CodeSigningTool/ManageSigningTool/?toolId=" + toolId;
    }

</script>

<table width="100%" id="tblCodeSigningTools">
    @{ string savedMessage = ViewBag.SavedMessage; }
    @if (savedMessage != null && savedMessage.Length > 0)
    {
        <tr>
            <td colspan="7" align="center" style="border-style:solid;border-width: 1px 1px 1px 1px;border-color: blue">
                @savedMessage
            </td>
        </tr>
    }
    <tr>
        <td colspan="7" align="right">
            <input type="button" value="Add New Tool" onclick="Edit(0);" />
        </td>
    </tr>
    <tr>
        <th>
            Tool Name
        </th>
        <th>
            Tool Type
        </th>
    </tr>
    @if (ViewBag.CodeSigningTools != null)
    {
        foreach (CSG.AppServer.Entities.CodeSigningTool tool in ViewBag.CodeSigningTools)
        {
            <tr>
                <td>
                    @tool.Name
                </td>
                <td>
                    @if (@tool.Offline == true)
                    {
                        <font>Macro</font>
                    }
                    else
                    {
                        if (@tool.SigningArgumentFormat == 0)
                        {
                            <font>signtool</font>
                        }
                        else if (@tool.SigningArgumentFormat == 1)
                        {
                            <font>jarsigner</font>
                        }
                        else if (@tool.SigningArgumentFormat == 2)
                        {
                            <font>codesign</font>
                        }
                        else if (@tool.SigningArgumentFormat == 3)
                        {
                            <font>codesignShare</font>
                        }
                        else if (@tool.SigningArgumentFormat == 4)
                        {
                            <font>HABcst</font>
                        }
                        else if (@tool.SigningArgumentFormat == 5)
                        {
                            <font>evmctl</font>
                        }
                        else if (@tool.SigningArgumentFormat == 11)
                        {
                            <font>LinuxScript</font>
                        }
                        else if (@tool.SigningArgumentFormat == 6)
                        {
                            <font>certreq</font>
                        }
                        else if (@tool.SigningArgumentFormat == 7)
                        {
                            <font>certreqRemote</font>
                        }
                        else if (@tool.SigningArgumentFormat == 8)
                        {
                            <font>signtoolRemote</font>
                        }
                        else if (@tool.SigningArgumentFormat == 9)
                        {
                            <font>SignBinary</font>
                        }
                        else if (@tool.SigningArgumentFormat == 10)
                        {
                            <font>sn</font>
                        }
                        else
                        {
                            <font>generic</font>
                        }
                    }
                </td>
                <td style="padding-left: 20px;">
                    <img alt="Edit Type" src="../../Images/details.png" height="25" width="25" onclick="Edit(@tool.Id);" />
                </td>
            </tr>
        }
    }
</table>

