﻿@{
    ViewBag.Title = "Manage Signing Tools";
}

<hgroup class="title">
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>

<hr />

<script type="text/javascript">
    function Edit(typeId) {
        window.location = "/CodeSigningTools/ManageCodeSigningTool/?typeId=" + typeId;
    }

</script>

<table width="100%" id="tblCodeSigningTools">
    <tr>
        <td colspan="7" align="right">
            <input type="button" value="Add New Tool" onclick="Edit(0);" />
        </td>
    </tr>
    <tr>
        <th>
            Tool Name
        </th>
        <th>
            Tool Type
        </th>
        <th>
            Tool Location
        </th>
    </tr>
    <tr>
        <td>
            signtool 32-bit
        </td>
        <td>
            SIGNTOOL
        </td>
        <td>
            C:\Program Files (x86)\Windows Kits\10\bin\x86
        </td>
    </tr>
    <tr>
        <td>
            jarsigner
        </td>
        <td>
            JARSIGNER
        </td>
        <td>
            C:\Program Files (x86)\Java
        </td>
    </tr>
    <tr>
        <td>
            generic signing tool
        </td>
        <td>
            CUSTOM
        </td>
        <td>
            C:\Program Files (x86)\Other
        </td>
    </tr>
</table>

