﻿@{
    ViewBag.Title = "System Maintenance";
}

<hgroup class="title">
    <h2>@ViewBag.Title</h2>
</hgroup>

<script type="text/javascript">
    function Cancel() {
        window.location = "/Admin/Index";
    }
</script>

@Html.AntiForgeryToken()
@Html.ValidationSummary(true)

<hr />
<br />
@{ var count = ViewBag.RecordsCount as string;<font>Files for @count requests have been purged from the system.</font>}
<br />
<table>
    <tr>
        <td align="left">
            <input type="button" value="OK" onclick="Cancel();" />
        </td>
    </tr>
</table>
