﻿@{
    ViewBag.Title = "Perform System Maintenance";
}

<hgroup class="title">
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>

<hr />

<script type="text/javascript">
</script>

@using (Html.BeginForm("", "SystemSetting/DoMaintenance", FormMethod.Post))
{

    <table width="100%" id="tblSettings">
        <tr>@Html.Label("Flush Files")</tr>
        <tr></tr>
        <tr>Delete files older than @Html.TextBox("txtAgeOfFiles", 30, new { @style = "width:30px" }) days</tr>
    </table>
    <table>
        <tr>
            <td>
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <input type="submit" value="Flush Files" />
            </td>
        </tr>
    </table>
}







