﻿@model CSG.AppServer.Entities.SystemSetting

@{
    ViewBag.Title = "Setting";
}

<hgroup class="title">
    <h2>@ViewBag.Title - <font color="#000000">@Model.Name</font></h2>
    <h3>@ViewBag.Message</h3>
</hgroup>

<hr />

<script type="text/javascript">

    function Cancel() {
        window.location = "/SystemSetting/ManageSystemSettings/";
    }

    $(document).ready(function () {

        $("#DataType").change(function () {

            dataTypes = document.getElementById('DataType');

            for (var i = 0; i < dataTypes.length; i++) {

                if (dataTypes[i].selected) {
                    dataType = dataTypes[i].value;
                }
            }

            ShowDataType(dataType);

        });

        ShowDataType("@Model.DataTypeId");
    });

    function HideDataTypes() {
        var pnlStringLabel = document.getElementById("pnlStringLabel");
        var pnlStringValue = document.getElementById("pnlStringValue");
        var pnlIntegerLabel = document.getElementById("pnlIntegerLabel");
        var pnlIntegerValue = document.getElementById("pnlIntegerValue");
        var pnlDoubleLabel = document.getElementById("pnlDoubleLabel");
        var pnlDoubleValue = document.getElementById("pnlDoubleValue");
        var pnlDateTimeLabel = document.getElementById("pnlDateTimeLabel");
        var pnlDateTimeValue = document.getElementById("pnlDateTimeValue");
        var pnlBooleanLabel = document.getElementById("pnlBooleanLabel");
        var pnlBooleanValue = document.getElementById("pnlBooleanValue");
        var pnlPasswordLabel = document.getElementById("pnlPasswordLabel");
        var pnlPasswordValue = document.getElementById("pnlPasswordValue");
        var pnlPasswordNote = document.getElementById("pnlPasswordNote");

        pnlStringLabel.style.display = "none";
        pnlStringValue.style.display = "none";
        pnlIntegerLabel.style.display = "none";
        pnlIntegerValue.style.display = "none";
        pnlDoubleLabel.style.display = "none";
        pnlDoubleValue.style.display = "none";
        pnlDateTimeLabel.style.display = "none";
        pnlDateTimeValue.style.display = "none";
        pnlBooleanLabel.style.display = "none";
        pnlBooleanValue.style.display = "none";
        pnlPasswordLabel.style.display = "none";
        pnlPasswordValue.style.display = "none";
        pnlPasswordNote.style.display = "none";
    }

    function ShowDataType(dataType) {

        HideDataTypes();

        var pnlStringLabel = document.getElementById("pnlStringLabel");
        var pnlStringValue = document.getElementById("pnlStringValue");
        var pnlIntegerLabel = document.getElementById("pnlIntegerLabel");
        var pnlIntegerValue = document.getElementById("pnlIntegerValue");
        var pnlDoubleLabel = document.getElementById("pnlDoubleLabel");
        var pnlDoubleValue = document.getElementById("pnlDoubleValue");
        var pnlDateTimeLabel = document.getElementById("pnlDateTimeLabel");
        var pnlDateTimeValue = document.getElementById("pnlDateTimeValue");
        var pnlBooleanLabel = document.getElementById("pnlBooleanLabel");
        var pnlBooleanValue = document.getElementById("pnlBooleanValue");
        var pnlPasswordLabel = document.getElementById("pnlPasswordLabel");
        var pnlPasswordValue = document.getElementById("pnlPasswordValue");
        var pnlPasswordNote = document.getElementById("pnlPasswordNote");

        switch (dataType) {

            case "1":
                pnlStringLabel.style.display = "block";
                pnlStringValue.style.display = "block";
                break;

            case "2":
                pnlIntegerLabel.style.display = "block";
                pnlIntegerValue.style.display = "block";
                break;

            case "3":
                pnlDoubleLabel.style.display = "block";
                pnlDoubleValue.style.display = "block";
                break;

            case "4":
                pnlDateTimeLabel.style.display = "block";
                pnlDateTimeValue.style.display = "block";
                break;

            case "5":
                pnlBooleanLabel.style.display = "block";
                pnlBooleanValue.style.display = "block";
                break;

            case "6":
                pnlPasswordLabel.style.display = "block";
                pnlPasswordValue.style.display = "block";
                pnlPasswordNote.style.display = "block";
                break;
        }
    }

    $(function () {
        $("#dateValue").datetimepicker({ timeFormat: "hh:mm tt" });
    });
</script>

@using (Html.BeginForm("SaveSetting", "SystemSetting", FormMethod.Post, new { name = "SaveSetting" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.DataTypeId)

    <table width="80%" id="tblSettings">
        @{ string errorMessage = ViewBag.errorMessage; }
        @if (!string.IsNullOrEmpty(errorMessage))
        {
            <tr>
                <td colspan="2" align="center" style="border-style:solid;border-width: 1px 1px 1px 1px;border-color: red">
                    @errorMessage
                </td>
            </tr>

        }
        <tr>
            <th>
                Name
            </th>
            <td>
                @Html.TextBoxFor(m => m.Name)
                @Html.ValidationMessageFor(m => m.Name)
            </td>
        </tr>
        <tr>
            <th>
                Description
            </th>
            <td>
                @Html.TextAreaFor(m => m.Description)
                @Html.ValidationMessageFor(m => m.Description)
            </td>
        </tr>
        <tr>
            <th>
                <div id="pnlStringLabel">
                    String Value
                </div>
            </th>
            <td>
                <div id="pnlStringValue">
                    @Html.TextAreaFor(m => m.StringValue)
                </div>
            </td>
        </tr>
        <tr>
            <th>
                <div id="pnlIntegerLabel">
                    Integer Value
                </div>
            </th>
            <td>
                <div id="pnlIntegerValue">
                    @Html.TextBoxFor(m => m.IntegerValue)
                </div>
            </td>
        </tr>
        <tr>
            <th>
                <div id="pnlDoubleLabel">
                    Double Value
                </div>
            </th>
            <td>
                <div id="pnlDoubleValue">
                    @Html.TextBoxFor(m => m.DoubleValue)
                </div>
            </td>
        </tr>
        <tr>
            <th>
                <div id="pnlDateTimeLabel">
                    Date/Time Value
                </div>
            </th>
            <td>
                <div id="pnlDateTimeValue">
                    @Html.TextBoxFor(m => m.DateValue, new { id = "dateValue" })
                </div>
            </td>
        </tr>
        <tr>
            <th>
                <div id="pnlBooleanLabel">
                    Boolean Value
                </div>
            </th>
            <td>
                <div id="pnlBooleanValue">
                    @Html.CheckBoxFor(m => m.NotNullableBooleanValue, new { id = "booleanValue" })
                </div>
            </td>
        </tr>
        <tr>
            <th>
                <div id="pnlPasswordLabel">
                    Password Value
                </div>
            </th>
            <td>
                <div id="pnlPasswordValue">
                    @Html.TextBoxFor(m => m.PasswordValue)
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div id="pnlPasswordNote">
                    The password value will be encrypted and stored in the database.  If you need to modify the value, enter the unencrypted value.  When subsequently viewing the value, it will be in it's encrypted form.
                </div>
            </td>
        </tr>
    </table>

    <table width="80%">
        <tr>
            <td align="left">
                <input type="button" value="Cancel" onclick="Cancel();" />
            </td>
            <td align="right">
                <input type="submit" value="Save" />
            </td>
        </tr>
    </table>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/Content/themes/base/css")

}
