﻿@{
    ViewBag.Title = "Manage System Settings";
}

<hgroup class="title">
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>

<hr />

<script type="text/javascript">
    function Edit(settingId) {
        window.location = "/SystemSetting/ManageSystemSetting/?settingId=" + settingId;
    }

</script>

<table width="100%" id="tblSettings">
    @*<tr>
        <td colspan="4" align="right">
            <input type="button" value="Create New Setting" onclick="Edit(0);" />
        </td>
    </tr>*@

    <tr>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            Value
        </th>
        <th>
        </th>
    </tr>
    @if (ViewBag.Settings != null)
    {
        foreach (ESP.AppServer.Entities.SystemSetting setting in ViewBag.Settings)
        { 
        <tr>
            <td>@setting.Name
            </td>
            <td>@setting.Description
            </td>
            @if (setting.DataType == ESP.AppServer.SystemSettingDataType.String)
            { 
                <td>
                    @Html.TextBox("txtStringValue", setting.StringValue, new { @readonly = "readonly" })
                </td>
            }
            else if (setting.DataType == ESP.AppServer.SystemSettingDataType.Integer)
            { 
                <td>
                    @Html.TextBox("txtIntegerValue", setting.IntegerValue, new { @readonly = "readonly" })
                </td>
            }
            else if (setting.DataType == ESP.AppServer.SystemSettingDataType.Double)
            { 
                <td>
                    @Html.TextBox("txtDoubleValue", setting.DoubleValue, new { @readonly = "readonly" })
                </td>
            }
            else if (setting.DataType == ESP.AppServer.SystemSettingDataType.DateTime)
            { 
                <td>
                    @Html.TextBox("txtDateValue", setting.DateValue, new { @readonly = "readonly" })
                </td>
            }
            else if (setting.DataType == ESP.AppServer.SystemSettingDataType.Boolean)
            { 
                <td>
                    @Html.TextBox("txtBooleanValue", setting.BooleanValue, new { @readonly = "readonly" })
                </td>
            }
            else if (setting.DataType == ESP.AppServer.SystemSettingDataType.Password)
            { 
                <td>
                    @Html.TextBox("txtPasswordValue", setting.PasswordValue, new { @readonly = "readonly" })
                </td>
            }
            <td>
                <img alt="Edit Group" src="../../Images/details.png" height="25px" width="25px" onclick="Edit(@setting.Id);" />
            </td>
        </tr>
        }
    }
</table>



