﻿html, body {
    height: 100%; width: 100%;
    padding: 0; margin: 0;
    padding-bottom: 200px;
}

body {
	font-family:Calibri, "Trebuchet MS", sans-serif;
	font-size:16px;
	color:#00395a;
    margin-bottom: 90px;    
}
arm_body {
	font-family:Calibri, "Trebuchet MS", sans-serif;
	font-size:16px;
	color:#00395a;
    height:100%;
    overflow:auto;
    margin: 0 auto 70px auto;
}
#wrap h1 {
    padding:5px 25px;
    margin: 0;
    font-size:120%;
    font-family:Calibri, "Trebuchet MS", sans-serif;
}
.text-inverse {
    color:#fff;
}
.skip-nav{
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}
/*Layout*/
.arm-bold{
    font-weight:700;
}
.arm-bold > span:after {
    content: ": "
}
.alpha { padding-left: 0; }
.omega { padding-right: 0; }
#wrap .container > .navbar-header, #wrap .container-fluid > .navbar-header, #wrap .container > .navbar-collapse, #wrap .container-fluid > .navbar-collapse {
    margin-left: 8px;

}

/*  Bootstrap grid overrides.
    These classes are *deprecated*.
    Use container or container-fluid
    for a clean grid.
*/ 
#wrap .row {
    margin-left: 0px;
    margin-right: 0px;
}
#wrap .col-md-12 p {
    padding-left:10px;
}
#wrap .col-md-12.col-md-12,#wrap .col-md-6.col-md-6 {
    padding-left: 0px;
    padding-right: 0px;
}
/* Clean Bootstrap grid */
#wrap .container-fluid .row, #wrap .container .row
{
    margin-left: -15px;
    margin-right: -15px;
}
#wrap .container-fluid .col-md-12 p, #wrap .container .col-md-12 p
{
    padding-left: auto;
}
#wrap .container-fluid .col-md-12.col-md-12,
#wrap .container .col-md-12.col-md-12,
#wrap .container-fluid .col-md-6,
#wrap .container .col-md-6
{
    padding-left: 15px;
    padding-right: 15px;
}

#wrap, #outrDiv{
    padding: 0;
    width:100%;
    margin:0 0 50px;
}
.arm-fixed {
    position:fixed;
}
.arm-hide-home {
    z-index:996;
    left: 0;
	top:80px;
}
/* Wells */
.arm-main-well {
    background: #fff;
    border: 1px solid #ddd;
    margin: 10px 15px;
    min-height: 450px;
    padding-bottom: 15px;
}
.arm-home-well {
    background: transparent;
    margin: 10px 15px;
    min-height: 450px;
    padding-bottom: 15px;
}
.arm-sub-well {
    margin:5px 10px;
    display:block;
    padding:10px 30px 30px;
    border-radius:5px;
    /*-moz-box-shadow:    inset 0 0 10px #fff;
    -webkit-box-shadow: inset 0 0 10px #fff;
    box-shadow:         inset 0 0 10px #fff;*/
    box-shadow: inset 0 0 0 5px #F4F4F4;
    background: #ddd;
}
.arm-alert-well  {
    margin:5px 10px;
    display:block;
    padding:30px;
    border-radius:5px;
    /*-moz-box-shadow:    inset 0 0 10px #fff;
    -webkit-box-shadow: inset 0 0 10px #fff;
    box-shadow:         inset 0 0 10px #fff;*/
    box-shadow: inset 0 0 0 5px #F4F4F4;

}
.arm-alert-danger-sm {
    font-size: 85%;
    padding:8px;
    margin-bottom:10px;
}  
.arm-tabs-well {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 15px;
}
.arm-row-well {
    background: #f7f7f7;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    float: left;
    padding-bottom: 15px;
    padding-top: 15px;
    width: 100%;
}
/* Header */
.baml {
    padding-top:15px;
    padding-right:10px;

}
.logo {
    margin-left: 10px;
    margin-right:-25px;
}

/*Icons*/
#wrap .glyphicon-exclamation-sign 
{
    /* same as text-danger */
    color: #a94442;
}
#wrap .glyphicon-info-sign, #wrap .glyphicon-question-sign 
{
    /* same as text-primary */
    color: #428bca;
}
.arm-icon-in-textbox {
    position: absolute;
    right: 17px;
    top: 9px;
}

/*
 * Nav 
 *
 */

/* selector specific enough to overwrite existing styles */
#wrap .navbar-nav > li > a {
    line-height: 24px!important;
}
#wrap .navbar {
    border: 0px solid transparent;
}
.arm-menu-dropdown.arm-menu-dropdown.arm-menu-dropdown.arm-menu-dropdown
{
    padding: 10px;
    background-color: White;
}
.arm-navbar-container.arm-navbar-container
{
    margin-bottom: 0px;
    max-height: none;
    box-shadow: none;
}
.arm-navbar-toggle
{
    margin-top: 15px;
}
.arm-navbar-toggle .icon-bar
{
    background-color: White !important;
}
.arm-menu-dropdown-grid
{
    padding-left: 15px;
    padding-right: 15px;
}
.arm-navbar-item
{
    color: #fff;
    text-transform: uppercase;
}
.open .arm-navbar-item, .arm-navbar-item:hover
{
    border-radius: 3px 3px 0 0;
    color: #333 !important;
}
.arm-navbar-item.active {
    background-color: #FAF8F5;
    border-radius: 3px 3px 0 0;
    color: #333 !important;
    text-decoration: none;
}
.arm-navbar-section
{
    color: #bdbdbd;
}
.arm-navbar-background.arm-navbar-background
{
    background-color: #00349a;
    margin-bottom: 0;
    border-radius: 0;
}
.arm-navbar-nav
{
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
}
.arm-navbar-nav h5
{
    padding-bottom: 10px;
    border-bottom: solid #eee 2px;
}
.arm-menu-dropdown-grid li a
{
    display: block;
    width: 100%;
}
.arm-menu-request-queue {
    margin-bottom: 20px;
}

/* Nav: Bootstrap sm */
@media screen and (min-width: 768px) 
{
    .arm-navbar-nav
    {
        margin-left: 0;
        margin-right: 0;
    }
    .arm-navbar-section
    {
        top: 17px;
    }
    .arm-navbar-item, .arm-navbar-section
    {
        font-size: 12px;
        margin: 0 1px;
        padding-left: 7px !important;
        padding-right: 7px !important;      
    }
}

@media screen and (min-width: 768px) and (max-width: 800px) {
    .arm-navbar-nav .glyphicon {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 790px) {
    #wrap .nav > li > a:hover, #wrap .nav > li > a {
        margin: 0;
    }
}

@media screen and (min-width: 768px) {
    #arm-main-nav-options {
        padding-right: 0;
    }
}
/* Nav: Bootstrap md */
@media screen and (min-width: 970px) 
{
    .arm-navbar-section
    {
        top: 15px;
    }
    .arm-navbar-item, .arm-navbar-section
    {
        font-size: 16px;
    }
}
/* Nav: navbar breakpoint */
@media (min-width: 751px) {

    #wrap .nav > li > a:hover, #wrap .nav > li:not(.dropdown) > a:focus {
        background-color: #f5f5f5;
    }
    #wrap .nav > li > a:hover, #wrap .nav > li.dropdown > a:focus:not(.active) {
        background-color: transparent;
        color: #fff;
    }
   #wrap .nav > li > a:hover, #wrap .nav > li.dropdown > a:focus:hover {
        background-color: #f5f5f5;
        color: #333;
    }
    #wrap .nav > li > a:hover, #wrap .nav > li.dropdown:hover > a:focus {
        background-color: #f5f5f5;
    }
}

/* Info bar */
.brand {
    max-width:185px;
    overflow:hidden;
}
.arm-header-user {
    margin-bottom: 10px;
    position: relative;
    top: 3px;
}
.arm-header-instance {
    color:#fff;
    position: absolute;
    top: 3px;
    right:5px;
    font-size: 12px;
}
.arm-header-user .btn-link {
    padding-left:0px;
}
.arm-header-user.arm-header-user > li
{
    padding-left: 2px;
    padding-right: 2px;
}
.arm-header-info, .arm-header-logout
{
    top: 3px;
    padding-left: 2px;
    padding-right: 2px;
}
.arm-header-divider
{
    color: #ADADAD;
}

/* Utility spacing classes */
.arm-row-spacer-sm {
    margin-top: 15px;
}
.arm-row-spacer-md {
    margin-top: 30px;
}
.arm-div-padding-all-sm {
    padding: 15px;
}
.arm-div-padding-all-xs {
    padding: 10px;
}
.arm-div-padding-lr-sm {
    padding-left: 15px;
    padding-right: 15px;
}
.arm-div-padding-top-sm {
    padding-top: 15px;   
}
.arm-margin-all-zero {
    margin: 0;
}
.arm-margin-lr-zero {
    margin-left: 0;
    margin-right: 0;
}
.arm-padding-all-zero {
    padding: 0;
}
#wrap .glyphicon, #wrap .fa {
    margin-right: 3px;
}
#wrap .dropdown.yamm-fw .glyphicon, .fa {
    margin-right: 0;
}
.arm-cell-valign-middle {
    vertical-align: middle !important;
}
/*Panels*/
.arm-panel {
    background: #FFF;
    border: 1px solid #D5D5D5;
    box-shadow: 0px 0px 5px #333;
    color: #555555;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 25px;
}

.arm-panel-portal {
    background: #FFF;
    border: 1px solid #D5D5D5;
    box-shadow: 0px 0px 5px #333;
    color: #555555;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 25px;
    min-height: 600px;
    position: sticky;
}
.arm-panel-body {
    padding-bottom: 12px;
    padding-top: 5px;
}
.arm-panel-body h2 span {
    font-size: 24px;
}
.arm-panel-footer {
    background: #FFF;
    border-radius: 3px;
    border-top: 1px solid #BDC9C9;
    color: #0054AC;
    height: 50px;
    white-space: normal;
}
.arm-panel-desc {
    color: #0054AC;
    white-space: normal;
}
.arm-panel-default > .arm-panel-heading{
    background-color: #f5f5f5;
    border-color: #ddd;
    color: #333;
}
.arm-panel-default > .arm-panel-heading:focus, .arm-panel-default > .arm-panel-heading:hover{
    background-color: #ddd;
    border-color: #ddd;
    color: #fff;
}
/* Panel Accordion overrides */
.arm-panel-group-accordion .panel-heading {
    padding: 0;   
}
.arm-panel-group-accordion .panel-heading h3 {
    padding: 10px 15px;
}
.arm-accordion-panel-disabled {
    color: #ccc;
}
.arm-accordion-panel-disabled:hover {
    color: #ccc;
    text-decoration: none;
}
/*Badges*/
#wrap .badge {
	border-radius:3px 3px 3px 3px!Important;
	background:#fff;
	padding-left:0px;
	padding-right:0px;
	margin-left:10px;
	margin-bottom:25px!Important;
	border: 1px solid #D5D5D5!Important;
	box-shadow: 0px 0px 5px #333!Important;
	border-collapse:separate;
	text-align: left;
}
#wrap .badge-inner {
	border-radius:3px 3px 3px 3px;
	border-collapse:separate;
	border-top:1px solid #BDC9C9;
	background:#fff;
	margin-top:5px;
	padding:0px 5px;
	/*overflow:hidden;*/
	min-width:300px;
}
#wrap .badge-inner-request {
    color: #0054AC;
    margin-bottom: 10px;
    padding: 10px 20px;
    white-space: normal;
}
#wrap .badge p {
    color: #0054AC ;
    padding: 10px 20px;
    white-space: normal ;
}
#wrap div.badge h2 {
	font-size:30px;
	text-align: left;
	font-family:Calibri, "Trebuchet MS", sans-serif
	margin:0px 0px 10px 0px;
	padding: 0px 20px;
	border-radius: 3px 3px 0px 0px;
	line-height:30px;

}
#wrap div.badge h2 span {
	font-size:24px;

}
#wrap .btn-default {
    background-color: #eee;
    border-color: #ccc;
}
.butBar {
    text-align:center;
    margin:10px;
    top:10px;
}
.requesttype {

	padding:10px;
	margin:10px 5px;
}
.requesttype .glyphicon-plus{
    color:#47A447;
}
.requesttype .glyphicon-pencil{
    color:orange;
}
.requesttype .glyphicon-ban-circle{
    color:#C41230;
}
.requesttype .glyphicon-random{
    color:#00439A;
}
.requesttype .glyphicon-retweet{
    color:#0052C2;
}
.requesttype p
{
    padding:5px 0px;
}
.requesttype label{
    padding: 5px 8px 
}
.QueueBadge > .col-md-8, .RequestBadge > .col-md-8
{
    width:80%;
    padding-left:0;
}
.RequestBadge > .col-md-8 > .col-md-10 {
    padding-left:0;
}
.DivBG{
    background:#fff;
}
.QueueBadge .col-md-8 .btn
{
   margin-left:10px;
}
.QueueBadge > .col-md-8, .QueueDB > .col-md-8
{
    margin-left:0px;
    padding-right: 0px;
    float:left;
    overflow: auto;
}
.RequestBadge > .col-md-8 {
    margin-left:0px;
    padding-right: 0px;
    float:left;
}
.QueueDB > .col-md-8 {
    width:75%;
    padding-bottom: 10px;
}
.QueueBadge .tab-content > .tab-pane > .col-md-4 
{
    width:150px;
    border-right: 1px solid #ddd;
    background: #F7F7F7;
    min-height:500px;
    float:left;
    
}
.QueueBadge > .col-md-4, .RequestBadge > .col-md-4 {
    width:13%;
    background: #F7F7F7;
    padding-right:0;
    min-height:500px;
}
.QueueDB > .col-md-4   {
    
    width:25%;
    background: #F7F7F7;
    padding-right:0;
    min-height:500px;
    float:left;
}
.QueueBadge, .QueueDB, .RequestBadge
{
    width:100%;
    margin-bottom:50px;
    padding:0 0 50px 0;
    background: #FBFBFB;
    border: 2px solid #EDE7DD;
    overflow: auto;
	
}
.buttonGroup {
    position:absolute;
	top:5px;
	right:20%;
}
.label-pending, .badge-pending {
    background-color: #B94A48;
	color:#fff;
	padding: 2px 8px;
	margin:10px;
}
/* Form Elements */
#wrap .label {
    padding:5px;
}
#wrap .label, #wrap .badge {
    color: #555555 ;
    font-size: 14px ;
    white-space: normal ;
}
.label-inverse, .badge-inverse {
    background-color: #000;
	color:#fff;
	padding: 2px 8px;
	margin:0px 5px;
}
.text-danger {
    color:#C41230
}
.arm-form-label {
    float: right;
    margin-right: -15px;
    text-align: right;
}
.arm-form-label-rules {
    float: right;
    margin-right: -5px;
    text-align: right;
}
.arm-label-left {
    float: left;
}
.arm-checkbox-info-sign {
    font-size: 14px;
    margin-left: 5px;
    margin-right: 0;
}
/* Home page badges */
.request:hover, .accessreview:hover, .manage:hover, .rolemanage:hover  {
	box-shadow: 0px 0px 8px #00439A;
}
.request  .btn-large,.rolemanage .btn-large,
.accessreview .btn-large,.manage  .btn-large{
	margin-right:5px;
}
.rolemanage {
	border-radius:3px 3px 3px 3px;
	background:#fff url(../img/peepsGRAY2.png) no-repeat top right;
}
div.rolemanage h2, div.accessreview h2 {
    color: #FFFFFF ;
}
.request	{
	border-radius:3px 3px 3px 3px;
	background:#fff url(../img/gearsGRAY.png) no-repeat top right;
}
.accessreview {
	border-radius:3px 3px 3px 3px;
	background:#fff url(../img/accessReviewGRAY.png) no-repeat top right;
}
.manage	{
	border-radius:3px 3px 3px 3px;
	background:#fff url(../img/resourceGRAY.png) no-repeat top right;
}
.form-control-inline 
{
    display: inline-block;
}
/*Breadcrumb*/
.arm-breadcrumb-container 
{
    font-size: 13px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.arm-breadcrumb.arm-breadcrumb {
    border-radius: 0;
    list-style: none outside none;
    margin-bottom: 0;
    font-size: 13px;
    width: 100%;
    padding: 0;
}
.arm-breadcrumb-user
{
    padding-top: 5px;
}

/*Slideshow*/
.arm-carousel-panel-footer {
    border: none;
    background: none;
    position: relative;  
}
.arm-carousel-control {
    color:#0054AC;
    position: static;
    width: auto;
}
.arm-carousel-control .glyphicon-chevron-right {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    position: static;
}
.arm-carousel-control .glyphicon-chevron-left {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    position: static;
}
.arm-carousel-indicators {
    background:#838383;
    bottom: -50px;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    right: 0;
    text-align: center;
    width: 30%;
    z-index: 15;
}
.carousel-inner, div.itemBG  {
    width: 97%;
    white-space: normal;
}
.slideshow {
    width: 100%;
	height: 405px;
	background: url(../img/bands.png)#fff no-repeat top right;
	border-radius: 10px;
}
.carousel-inner {
    width:auto;
}
.carousel-inner p {
	padding-bottom:5px;
	padding-top:5px;
}
.carousel-inner > .active, .carousel-inner > .next, .carousel-inner > .prev {
    display: block;
}
.carousel-control.left,.carousel-control.right  {
    background-image: none;
    background-repeat: repeat-x;
    filter: none;
}
.arm-panel.slideshow .carousel-inner h2 {
	font-size: 24px;
	line-height: 24px;
	font-family: Calibri, "Trebuchet MS", sans-serif;
	margin: 20px 0px 10px 0px;
	color: #c41230;
}
.arm-panel.slideshow .carousel-inner p {
    color: #0054ac;
    white-space: normal;
}
.arm-panel.slideshow .carousel-inner .item {
    width: 100%;
}
div.itemBG {
    height:312px;
    max-height:315px;
    overflow:auto;
}
/*Tables*/
#wrap .table {
    font-size:14px;
    background:#fff;
}
#wrap .table > thead > tr > th{
    vertical-align:top;
	
}
#wrap .table td {
    word-wrap:break-word;
}
#wrap .table-bordered {
	background:#fff;
}
#wrap .table > thead > tr > th,
#wrap .table > tbody > tr > th,
#wrap .table > tfoot > tr > th,
#wrap .table > thead > tr > td,
#wrap .table > tbody > tr > td,
#wrap .table > tfoot > tr > td {
    border: 1px solid #DDDDDD;
}
.arm-table-row-select > tbody > tr:not(:first-child):hover {
    cursor: pointer;
    text-decoration: underline;
}
/* Tabs */
.arm-tab-pane {
    border: 1px solid #DDD;   
}
#wrap .tab-content > .active {
    display: block;
    /*overflow:auto;*/
    background: #fff;
}
div.tabbable .label-important,
div.tabbable  .badge-important {
    background-color: #B94A48;
    padding: 2px 5px;
}
div.tabbable .nav-tabs > li > a,
.arm-nav-tabs.nav-tabs > li > a {
    background:#f7f7f7;
    color:#555;
    border-color: #DDDDDD #DDDDDD rgba(0, 0, 0, 0);
    border-image: none;
    border-style: solid;
    border-width: 1px;
}
div.tabbable .nav-tabs > li.active > a,
div.tabbable .nav-tabs > li > a:hover div.tabbable .nav-tabs > li.active > a:hover,
div.tabbable .nav-tabs > li.active > a:focus,
.arm-nav-tabs.nav-tabs > li.active > a,
.arm-nav-tabs.nav-tabs > li > a:hover {
    background:#C41230 !important;
    color:#fff !important;
}
div.tabbable .nav-tabs > li > a span{
    color: #fff ;
}
div.tabbable {
    margin:10px 20px;
    clear:left;		
}
#manageprofiles div.tabbable {
    margin:0px;
}
div.tab-pane > .active {
    overflow:auto;
    width:100%;
}
.tab-content.arm-tab-pane {
  padding:0px 15px;
}
div.queuetab {
    margin:0px;
}
#panel-workflow > .col-md-10 {
    padding-left:0;
}
/*Footer*/
#topFooter {
    background: url("../img/footer-bg-brand-logo-new.png") repeat-y center center #001423;
    border-bottom: 1px solid #FFFFFF;
    margin: 0px;
}
#logos-bar {
    background: url("../../../Images/logos-bar.png") no-repeat  right center;
    height: 46px;
    color:#fff;
    padding:5px;
    margin: 0px;
}
#footer{
	background-color: #C51230;
    margin-top: 100px;
    width: 100%;
    position: fixed;
    z-index: 999;
    bottom: 0;
    margin: 0px;
}
/*Section Headers*/
.role-header {
    margin-left: 180px;
}
.box-header 
{
    text-transform: uppercase;
	  border-left: 1px solid #F1F1F1;
    border-right: 1px solid #F1F1F1;
    border-top: 1px solid #F1F1F1;
    border-bottom: 0px solid #F1F1F1;
    font-weight:bold;
	  font-size: 18px;
	  line-height: 24px;
    border-image: none;
    border-radius: 5px 5px 0 0;
    margin-bottom: 5px;
    overflow: hidden;
    width:100%;
    padding: 10px;
    background-image: -moz-linear-gradient(center top , #FFFFFF 0px, #F4F4F4 100%);
    background-image: linear-gradient( #FFFFFF, #F4F4F4);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#F2F2F2', GradientType=0)";
}
.box-header-sub 
{
    text-transform: uppercase;
    width:100%;
    padding: 0px 0px 5px;
    font-weight:bold;
	font-size: 16px;
}
#wrap .well {
    border-radius: 0 ;
    margin-bottom: 0 !Important;
    padding: 5px!Important;
}
.accordion-heading {
    background-image: linear-gradient(to bottom, #E5E5E5, #EEEEEE) ;
    font-weight: bold;
    line-height: 25px;
}
#wrap .nav-tabs > li.active > a > span.badge-pending {
    background-color: #000;
}
/*******Submenu styles*****/
.dropdown-submenu
{
    position:relative;
}
.dropdown-submenu > .dropdown-menu
{
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-menu.right {
    right:0;
    left:auto;}
.dropdown-submenu:hover > .dropdown-menu
{
    display:block;
}
.dropdown-submenu > a:after
{
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover > a:after
{
    border-left-color:#ffffff;
}
.dropdown-submenu.pull-left
{
    float:none;
}
.dropdown-submenu.pull-left > .dropdown-menu
{
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}
/****End submenu***/

.accordion-heading .accordion-toggle {
    display: block;
    padding: 8px 15px;
}
table.ko-grid {
	width: 380px;
}
.ko-grid td {
    cursor: pointer;
    cursor: hand;
    border:1px solid #e5e5e5;
    padding: 5px;
}
.ko-grid th {
    border-bottom:1px solid #e5e5e5;
    white-space: nowrap;
    padding: 5px;
    text-align: left;
	font-weight: bold;
}
.assocLookup-root {

	height: 400px;
	border: 1px solid #e5e5e5   ;
	background: #fff;

}
.assocLookup-root .title {
	border-bottom: 1px solid #e5e5e5 ;
	background: black;
	color: white;
	font-weight: bold;
}
.assocLookup-root .search, .assocLookup-root div.master {

	max-width: 56%;
	float: left;
	height: 320px;
	padding: 10px;
	overflow:auto;
}
.assocLookup-root .search { border-right: 1px solid black; }
.assocLookup-root > .detail {
	border-top: 1px solid #e5e5e5;
	width: 100%;
	clear: both;
	padding:10px;
	background: #e5e5e5;
}
#chooseApp .input-group input{
    margin-right:15px;
}
#chooseApp .input-group {
    margin-bottom:15px;
}
#wrap .form-control {
    padding:5px;
}
#wrap label.checkbox, #wrap div.checkbox label {
    font-weight:normal;
    margin-left:8px;
}
#wrap label.checkbox input, #wrap div.checkbox input{
    margin-top:5px;
}
#wrap .sidebar-nav {
    background: none repeat scroll 0 0 #F7F7F7;
    float: left;
    margin: 0;
}
#wrap .sidebar-nav .dashboard-menu {
    list-style: none outside none;
    margin-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
}
.dashboard-menu > li > a > span.glyphicon, .dashboard-menu > li > a > span.fa {
    font-size:70px;
}
.dashboard-menu > li > a:focus > span.glyphicon, .dashboard-menu > li > a:focus > span.fa {
    color:#47A447;
}
#wrap .success {
    color:#47A447;
}
#wrap .danger {
    color:#D2322D;
}
#wrap .sidebar-nav .dashboard-menu > li > a  {
    border-bottom: 1px solid #DAE1E8;
    box-shadow: 0 2px 1px -1px #FFFFFF;
    color: #6E829B;
    display: block;
    text-align:center;
    line-height: 21px;
    margin-bottom: 5px;
    margin-left: -15px;
    outline: 0 none;
    padding: 19px 20px 15px;
}
#wrap .sidebar-nav .dashboard-menu > li {
    position: relative;
}
.dashboard-menu p{
    text-align:center;
}
#wrap .form-group {
    padding: 10px;
    margin-bottom:0px;
}

/* TREE*/
.tree .badge {

    border: 1px solid #D5D5D5;
    border-collapse: separate ;
    border-radius: 3px;
    box-shadow: 0 0 5px #333333 ;
    margin-bottom: 0px ;
    margin-left: 0px ;
	padding:8px;
}
.tree .label-tree1,.tree .badge-tree1 {
    background-color: #777777;
    color: #FFFFFF;
	font-size:18px;
    margin: 0;
	padding:5px;
}
.tree .label-tree2,.tree .badge-tree2 {
	background-color: #E3E3E3;
    color: #444444 ;
    margin: 0;
}
.tree .badge-tree1 [class^="icon-"], .tree .badge-tree1 [class*=" icon-"] {
    background-image: url("../img/glyphicons-halflings-white.png") ;
}
.tree .subWF  li:after {
    border-top: 1px solid #FF0000;
    border-left: none!important;
    height: 20px;
    top: 25px;
    width: 23px;
} 
.tree li.parent_li:before .subWF  li:after  {
    border-left: 1px solid #FF0000;
    bottom: 60px;
    height: 120%;
    left: 20px;
    width: 1px;
}
.tree .subWF > li.last:before {
    height: 77%;
    top:-6px;
}
.tree li:before {
    border-left: 1px solid #FF0000;
    bottom: 50px;
    height: 120%;
    top: -5px;
    width: 1px;
}
.tree ul.alert-block > li:before,.tree ul.alert-block >  li:after  {
    border-left: 0px solid #999;
    border-top: 0px solid #999;
    
   
}
.tree  ul.dropdown-menu li:before, .tree ul.dropdown-menu li:after {
    border:none;
    bottom: 50px;
    height: 120%;
    top: 14px;
    width: 1px;
}
.tree  ul.dropdown-menu {
    left: 110px;
}
.tree .dropdown-menu > li > a:hover {
    clear: both;
    color: #fff;
    background:#6E829B;
    width:100%;
}
.tree li:before, .tree li:after {
    content: "";
    left: -20px;
    position: absolute;
    right: auto;
}
.tree li:after  {
    border-left:1px solid#000;
    height: 25px;
    top: -6px;
    width: 23px;
}
.tree .panel {
    margin-bottom: 5px;
}
.tree li {
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 2px;
    position: relative;
}
.tree {
    margin-bottom: 10px;
}
.tree li.parent_li > span {
    cursor: pointer;
}
.tree > ul > li:before, .tree > ul > li:after {
    border: 0 none;
}
.tree a {
    display: inline;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
}
/* Modals */
h4.modal-title {

    color: #fff
	
}
.arm-modal-header {
     background: #00439A;
     border-radius:3px 3px 0px 0px;
}
.arm-modal-header .close {
    color:#f1ce2b;
    opacity: 1;
}
.QueueBadge > .col-md-8 > .arm-modal-body > .btn {
    margin-left: 0px;
}
.arm-modal-body {
    min-height: 300px;
    overflow:auto;
}
/*
 *  bootstrap modal
 *  with iframe
 */
.arm-unpad-modal-body.arm-unpad-modal-body
{
    padding: 0;
}
.arm-modal-loading
{
    display: none;
}
.arm-modal-iframe-loading .modal-loading
{
    display: block;
    /* http://www.smashingmagazine.com/2013/08/09/absolute-horizontal-vertical-centering-css/ */
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    overflow: auto;
    width: 80px;
    height: 80px;
}
/*
 *  Given that our modals are often full pages,
 *  users expect them to be nearly full page width
 */
.arm-modal-lg 
{
    width: 96%;
}
/* 
 * Double scrollbar fix
 * http://stackoverflow.com/questions/20829332/bootstrap-3-modal-creates-scrollbar-when-opened
 */
body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom {
    margin-right: 0;
    overflow-y: hidden;
}
.arm-modal {
    overflow-y: auto;
}
/* end double scrollbar fix */

.arm-modal-backdrop.in {
    opacity: 0.1;
}
.arm-modal-dialog	
{
    margin: 30px auto;
}
.arm-modal-body iframe
{
    width: 100%;
    border: none;
    height: 500px;
}
#wrap .tooltip-inner {
    background-color: #00439A;

}
.tooltip.top .tooltip-arrow {
    border-top-color: #00439A;

}
.tooltip.left .tooltip-arrow {
    border-left-color: #00439A;

}
.tooltip.right .tooltip-arrow {
    border-right-color: #00439A;

}
/******Multi-select css********/
#wrap .btn-group + .form-control {
    height:auto;
}
.multiselect-container
{
    position:absolute;
    list-style-type:none;
    margin:0;
    padding:0
}
.multiselect-container .input-group
{
    margin:5px
}
.multiselect-container>li
{
    padding:0
}
.multiselect-container>li>a.multiselect-all label
{
    font-weight:bold
}
.multiselect-container>li>label.multiselect-group
{
    margin:0;
    padding:3px 20px 3px 20px;
    height:100%;
    font-weight:bold
}
.multiselect-container>li>a>label
{
    margin:0;
    height:100%;
    cursor:pointer;
    font-weight:normal
}
.multiselect-container>li>a>label.radio,.multiselect-container>li>a>label.checkbox
{
    margin:0
}
.multiselect-container>li>a>label>input[type="checkbox"]
{
    margin-bottom:5px
}
#wrap .btn-group>.btn-group:nth-child(2)>.multiselect.btn
{
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
}
/* session container styles */
.arm-div-session-timer {
    display: none;
    width: 100% !important;
}
.arm-div-session-timer > div {
    padding: 10px;
}
.arm-div-time-remaining {
    padding-left: 5px;
}
/****From OLD CSS****/
.middleButtons {
    position:relative;
	top:30px;
    text-align: center;
	
}
.popup {
    display:none;
    background:#c0c0c0;
}
.noShow{display:none;}
.TicketStatus  
{
    color:#000; 
    font-size:12px; 
    height:16px; 
    padding:4px 15px 0px 0px;
}
.TicketStatus .input-md { height:22px; margin-top:3px;}
.TicketStatus .btn { margin-top:-2px;}
.updateProgress
{
	border-style: None;
	background-color: Transparent;
	position: absolute;
	width: 66px;
	height: 66px;
}
.PanelProgress
{
	position: absolute;
	vertical-align: middle; /*text-align: center;*/
}
.modalBackground
{
	background-color: Gray;
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
}
.modalBody
{
	padding: 5px 5px 5px 5px;
	color: #000000;
	line-height: 15pt;
	clear: both;
}
/* Ext ApplicationSelector widget */
.applicationSelector .x-panel-header-default 
{
    background: #428BCA !important;
}
.applicationSelector-to,
.applicationSelector-from,
.applicationSelector-arrows
{
    display: inline-block;
}
.applicationSelector-arrows
{
    width: 30px;
    vertical-align: top;
    margin: 5em 5px 0 5px;
}
.applicationSelector-arrowButton 
{
    position: relative;
    width: 30px !important;
    height: 20px !important;
}
.applicationSelector-arrow
{
    position: absolute;
    left: 7px !important;
    top: 1px !important;
}
/*EXTJS Overrides*/
.x-window-default,.x-window, .x-window-body {
    background-color:#428BCA;
    color:#fff;
}
.x-window-default  .x-window-header-text {
    color:#fff;
    font-family:Calibri, "Trebuchet MS", sans-serif!important;
    font-size:14px!important;
}
body > .x-mask {
    position: fixed !important;
}
/*
    Ext alert messages used widely on the site.
    Fixing style issues here so we don't have to subclass Ext.alert
    with our own class
*/
/* Fixes padding around the exit button on Ext alerts */
.x-window-header-body > .x-box-inner 
{
    height: 22px !important;
}
.x-window-header-body > .x-box-inner .x-tool-default 
{
    margin: 0 !important;
    padding-right: 5px !important;
    top: 0 !important;
}
/* Fixes white text on light blue background in Ext alerts */
.x-window-body .x-window-item 
{
    background: #428BCA;
}

.x-form-item-label, .x-form-item {
    font-size:14px!important;
    font-family:Calibri, "Trebuchet MS", sans-serif!important;
}
.x-body {

    font-family:Calibri , "Trebuchet MS", sans-serif!Important;
    font-size:16px!important;
    color: #00395a;
}
.x-boundlist-item {
    font-size:12px!important;
}
.feed-list-item{
    font-size:14px!important;
}
/*Tab overrides*/
.x-tab-bar-body {
	border:none!important;
}
.x-tab-bar-strip {
    display:none;
}
.x-tab{
    height:35px!important;
}
.x-tab-top-active,
.x-tab-active.x-tab-default-over {
    background: #C41230 !important;
    box-shadow: none !important;
}
.x-tab-active .x-tab-inner {
    color: #fff !important;
}
.x-panel-body-default {
    border-top-width:0!important;
}
.x-box-inner .x-panel  .x-toolbar-default,.x-box-inner .x-panel  .x-docked, .x-docked-bottom, .x-toolbar .x-box-inner {
    background-image:none!important;
    background-color: #428BCA!important;
    color:#fff;
}
.x-toolbar-text, .x-toolbar .x-toolbar-text, .x-panel-header-text {
    color:#fff!important;
}
.x-box-inner .x-tabpanel-child > .x-toolbar-default{
    display:none;
}
.x-tab-bar-body .x-box-inner {
    background: transparent!important;
}
/*Button overrides*/
.x-btn-default-toolbar-small .x-btn-inner{
    color:#fff!important;
}
.x-btn-default-toolbar-small-menu-active, .x-btn-default-toolbar-small-pressed {
    background:none!important;

}
.x-over{
    background:#428BCA!important;
}
.x-over span, .x-btn-over button span{
    color:#f1ce2b!important;
}
button .x-tbar-page-next,
button .x-tbar-loading,
button .x-tbar-page-prev,
button .x-tbar-page-first,
button .x-tbar-page-last,
button .excelAllIcon,
img.x-action-col-icon  {
    display: inline-block;
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
    background-image: none!important;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    position: relative;
    top: 1px;
    color:#fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.x-toolbar .x-box-inner .x-item-disabled button  span, .x-action-col-icon
{
    background-image: none!important;
}
.x-item-disabled button span{
    color:#fff!important;
}
button .x-tbar-page-next:before, div.x-grid-cell-inner .x-action-col-icon:before {
    content: "\e080";
}
button .excelAllIcon:before {
    content: "\e170";
}
button .x-tbar-loading:before {
    content: "\e031";
}
button .x-tbar-page-prev:before {
    content: "\e079";
}
button .x-tbar-page-first:before {
    content: "\e071";
}
button .x-tbar-page-last:before {
    content: "\e076";
}
button .x-tool:before {
      content: "\e014";
}
.lnkFirstPage {
    cursor: pointer;
    height: 16px;
    margin-left: 5px;
    width: 16px;
}

.lnkPreviousPage {
    cursor: pointer;
    height: 16px;
    margin-right: 5px;
    width: 16px;
}

.lnkNextPage {
    height: 16px;
    width: 16px;
}

.lnkLastPage {
    height: 16px;
    margin-right: 10px;
    width: 16px;
}
.x-btn-default-small .x-btn-inner {
    color: #fff;
    font-family: Calibri, "Trebuchet MS", sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 0px 5px;
}
.x-tab button {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    color: #416da3;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-overflow: ellipsis;
}
.x-nlg .x-btn-default-small{
    background-image:none!important;
}
button span.x-btn-inner + span.fa {
    color:#fff
}
#HistoryButton button span.x-btn-inner {
    margin-left:15px;

}
.x-btn-default-small {
    background-color: #428BCA;
    background-image: none;
    color:#fff;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    padding: 2px;
}
.x-btn-default-small-disabled {
    background:#eee;
}

/* Toolbar separator */
.x-toolbar .x-toolbar-separator-horizontal.x-toolbar-separator-horizontal {
    border-left: none;
}

/*Fieldset overrides*/
.x-fieldset-body .x-form-item .x-form-item-label{
	color:#000!important;
}
/*heading overrides*/
.x-grid-header-ct{
    background:#ccc!important;
}
.x-column-header {
    background:none!important;
    background-color: #ccc!important;
    font-size: 12px!important;
    color:#000!important;
    
}
.x-column-header-over {
    background:#428BCA!important;
    color:#fff!important;
}
.x-panel-header,.x-panel-default .x-accordion-hd, .x-panel-header-text-default,.x-panel-header-default-top, .x-panel-header-default, .x-horizontal, .x-panel-header-horizontal, .x-panel-header-default-horizontal, .x-top x-panel-header-top, .x-panel-header-default-top, /*.x-unselectable,*/ .x-docked, .x-docked-top, .x-panel-header-docked-top, .x-panel-header-default-docked-top {
    background:none!important;
    font-family:Calibri, "Trebuchet MS", sans-serif!important;
	font-size:14px!important;
}
/*Tooltip overrides*/
.x-tip{
    background-color: #00439A!important;
    border-radius: 10px!important;
    padding-left:8px!important;padding-right:8px!important;padding-bottom:14px!important;

}
.x-tip *{
    color:#fff!important;
}
/* fix alignment of the month label */
.x-datepicker-month 
{
    font-size: 12px;
}
#btnCreateProxy .x-btn-center,
.x-datepicker .x-btn-center
{
    position: relative;
    bottom: 3px;
}

/* Old .NET Grid */
.arm-input-group-wrapper {
    display: inline-block;
    vertical-align: middle;
}
.arm-div-paging-panel {
    display: inline-block;
}
.arm-div-paging-panel .btn-group a[disabled] {
    color: #CCCCCC;
    cursor: default !important;
    pointer-events: none;
}
.arm-div-paging-panel .glyphicon, .arm-div-paging-panel .fa {
    margin: 0;
}
.arm-div-paging-panel > div {
    display: inline-block;
}
.arm-div-paging-panel > div > .form-control, .arm-div-paging-panel .arm-input-group-wrapper > div .form-control {
    width: 30px !important;
}
.arm-grid-page-count {
    font-weight: 700;
    margin-left: 3px;
    margin-right: 5px;
}
.arm-grid-control-panel .input-group-btn {
    width: auto;
}
.arm-grid-form-group {
    padding-left: 0;
    padding-right: 0;
}
.arm-grid-header {
    border-bottom: none;
}
.arm-grid-footer {
    padding-bottom: 15px;
}
[id$=gridMsgContainer] {
    display: none;
}
/* App Modals */
.arm-app-modal-req-fields {
    float: right;
    padding-bottom: 15px;
    padding-top: 15px;
}
.arm-app-modal-header {
    font-weight: 700;
    padding-bottom: 15px;
    padding-top: 15px;
}
.arm-app-modal-row-header {
    background: #f9f9f9;
    border: 1px solid #ddd;
}
.arm-app-modal-div-req-types > div {
    display: inline-block;
    margin-right: 30px;
}
.arm-app-users-modal-label-name {
    background: #efefef;
}

/* Proxy pages */
.arm-ext-comboButton {
    border-radius: 0 2px 2px 0;
    height: 22px;
}
.arm-ext-comboButton .x-btn-inner {
    position: relative;
    bottom: 2px;
}

/*Media Queries*/
@media screen and (max-width: 1025px) and (min-width: 992px) { 
    .arm-panel.slideshow .carousel-inner h2 {
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 0;   
    }
    
    .arm-panel.slideshow .carousel-inner p {
        margin-bottom: 3px;   
    }
    
    .arm-panel.slideshow .carousel-inner ul {
        margin-bottom: 0;   
    }

}
@media screen and (max-width: 991px) and (min-width: 768px) { 
    .arm-panel.slideshow {
        height: 315px;
    }
    .arm-panel.slideshow .carousel-inner .itemBG {
        height: 225px;   
    }
    .arm-grid-change-page-container {
        margin-top: 5px;
    }
    .arm-text-left-tablet {
        text-align: left;
    }
}

@media screen and (max-width: 767px) {
    .arm-panel.slideshow {
        height: 345px;   
    }
    .arm-panel.slideshow .carousel-inner .itemBG {
        height: 260px;   
    }
    .arm-padding-top-mobile-sm {
        padding-top: 15px;
    }
    .arm-padding-lr-mobile-sm {
        padding-left: 15px;
        padding-right: 15px;
    }
    .arm-margin-top-mobile-sm {
        margin-top: 15px;
    }
    .arm-form-label {
        float: left;
        text-align: left;
    }
    .arm-padding-all-zero-mobile {
        padding: 0;
    }
    .arm-padding-lr-zero-mobile {
        padding-left: 0;
        padding-right: 0;
    }
    .arm-btn-sm-mobile {
        border-radius: 3px;
        font-size: 12px;
        line-height: 1.5;
        padding: 5px 10px;
    }
    .arm-input-sm-mobile {
        border-radius: 3px;
        font-size: 12px;
        height: 30px;
        line-height: 1.5;
    }
    .arm-grid-input-sm-mobile {
        display: inline-block;
    }
    .arm-div-paging-panel > div {
        margin-top: 3px;
    }
    .arm-btn-group-mobile > a {
        font-size: 18px;
        overflow: hidden;
        width: 42px;
    }
    #wrap .arm-btn-group-mobile .glyphicon, #wrap .arm-btn-group-mobile .fa {
        margin-right: 12px;
    }
    .arm-grid-btn-mobile {
        font-size: 16px;
        overflow: hidden;
        width: 28px;
        height: 28px;
    }
    #wrap .arm-grid-btn-mobile .glyphicon, #wrap .arm-grid-btn-mobile .fa {
        margin-right: 8px;
    }
    .arm-app-modal-req-fields {
        float: left;
        padding-top: 0;
    }
    .arm-app-modal-div-req-types > div {
        margin-right: 0;
        width: 150px;
    }
    .arm-pull-left-mobile {
        float: left !important;
    }
    .arm-input-group-btn-mobile {
        overflow: hidden;
        width: 40px;
    }
    .arm-input-group-btn-mobile > span {
        margin-right: 16px;
    }
    .arm-menu-request-queue {
        margin-bottom: 0;
    }
}

.header-strip { background-color: white }