﻿<h3><font color="#000000">What is the Code Signing System?</font></h3>
<p>The Code Signing System allows authorized users to submit their code for code signing.  The code signing request must be approved by a 
   member of the submitter's team before the code can be signed.  Once approved, the code is automatically signed and available for
   download.</p>

<h3><font color="#000000">How can I get access?</font></h3>
<p>The Active Directory group that represents your team must be given access by one of the system administrators.  Please contact
the system administrators using the contact information on the Help page for assistance.</p>