﻿@model CSG.WebSite.Models.CertificateModel
@{
    ViewBag.Title = "Verify Certificate";
}

<hgroup class="title">
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>

<hr />

<script type="text/javascript">
    function Cancel() {
        window.location = "/Certificate/ManageCertificates/";
    }

</script>

@using (Html.BeginForm("ConfirmCertificate", "Certificate", FormMethod.Post, new { name = "ConfirmCertificate" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(m => m.MimeEncoded)
    @Html.HiddenFor(m => m.Name)

    @Html.Label("Are you sure you want to register this certificate?")


    <br />

    <table>
        <tr>
            <td>
                @Html.Label("Friendly Name:")
            </td>
            <td>
                @Model.Name
            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("Subject:")
            </td>
            <td>
                @Model.IssuedTo
            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("Thumbprint:")
            </td>
            <td>
                @Model.Thumbprint
            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("Issuer:")
            </td>
            <td>
                @Model.IssuedBy
            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("Valid Not Before:")
            </td>
            <td>
                @Model.NotBefore
            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("Valid Not After:")
            </td>
            <td>
                @Model.NotAfter
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td align="left">
                <input type="button" value="Cancel" onclick="Cancel();" />
            </td>
            <td align="right">
                <input type="submit" value="Save" />
            </td>
        </tr>
    </table>
}