﻿@{
    ViewBag.Title = "Manage Certificates";
}

<hgroup class="title">
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>

<hr />

<script type="text/javascript">
    function Edit(certificateId) {

        window.location = "/Certificate/ManageCertificate/?certificateId=" + certificateId;
    }

</script>

<table width="100%" id="tblGroups">
    @{ string savedMessage = ViewBag.SavedMessage; }
    @if (savedMessage != null && savedMessage.Length > 0)
    {
        <tr>
            <td colspan="6" align="center" style="border-style:solid;border-width: 1px 1px 1px 1px;border-color: blue">
                @savedMessage
            </td>
        </tr>
    }
    <tr>
        <td colspan="6" align="right">
            <input type="button" value="Register New Certificate" onclick="Edit(0);" />
        </td>
    </tr>

    <tr>
        <th>
            Name
        </th>
        <th>
            Issued To
        </th>
        <th>
            Thumbprint
        </th>
        <th>
            Issuer
        </th>
        <th>
            Expiration Date
        </th>
        <th>
            Deleted
        </th>
        <th>
        </th>
    </tr>
    @if (ViewBag.Certificates != null)
    {
        foreach (CSG.AppServer.Entities.Certificate type in ViewBag.Certificates)
        {
            <tr>
                <td>
                    @type.Name
                </td>
                <td>
                    @type.IssuedTo
                </td>
                <td>
                    @type.Thumbprint
                </td>
                <td>
                    @type.IssuedBy
                </td>
                <td>
                    @if (DateTime.Now < type.NotBefore)
                    {
                        <label style="color: orange">@type.NotAfter.Value.ToShortDateString()</label>
                    }
                    else if (DateTime.Now > type.NotAfter)
                    {
                        <label style="color: red">@type.NotAfter.Value.ToShortDateString()</label>
                    }
                    else
                    {
                        <label>@type.NotAfter.Value.ToShortDateString()</label>
                    }
                </td>
                <td></td>
                <td style="padding-left: 20px;">
                    <img alt="Edit Type" src="../../Images/details.png" height="25px" width="25px" onclick="Edit(@type.Id);" />
                </td>
            </tr>
        }
    }
    @if (ViewBag.DeletedCertificates != null)
    {
        foreach (CSG.AppServer.Entities.Certificate type in ViewBag.DeletedCertificates)
        {
            <tr style="background-color: lightgray">
                <td><font color="red">@type.Name</font></td>
                <td><font color="red">@type.IssuedTo</font></td>
                <td><font color="red">@type.Thumbprint</font></td>
                <td><font color="red">@type.IssuedBy</font></td>
                <td>
                    <font color="red">
                        @if (DateTime.Now < type.NotBefore)
                    {
                            <label style="color: orange">@type.NotAfter.Value.ToShortDateString()</label>
                        }
                        else if (DateTime.Now > type.NotAfter)
                        {
                            <label style="color: red">@type.NotAfter.Value.ToShortDateString()</label>
                        }
                        else
                        {
                            <label>@type.NotAfter.Value.ToShortDateString()</label>
                        }
                    </font>
                </td>
                <td><font color="red">Yes</font></td>
                <td style="padding-left: 20px;">
                    <img alt="Edit Type" src="../../Images/details.png" height="25px" width="25px" onclick="Edit(@type.Id);" />
                </td>
            </tr>
        }
    }
</table>
