﻿@model CSG.WebSite.Models.CertificateModel
@{
    ViewBag.Title = "Registered Certificate";
}

<hgroup class="title">
    <h2>@ViewBag.Title</h2>
</hgroup>

<hr />

<script type="text/javascript">
    function Cancel() {
        window.location = "/Certificate/ManageCertificates/";
    }
</script>

@using (Html.BeginForm("SaveCertificate", "Certificate", FormMethod.Post, new { @onload = "onload();", name = "SaveCertificate" }))
{
    @Html.HiddenFor(m => m.Id)
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <br />

    <table>
        <tr>
            <td>
                @Html.Label("Friendly Name:")
            </td>
            <td>
                @Html.TextBoxFor(m => m.Name)
                @Html.ValidationMessageFor(m => m.Name)
            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("Subject:")
            </td>
            <td>
                @Model.IssuedTo
            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("Thumbprint:")
            </td>
            <td>
                @Model.Thumbprint
            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("Issuer:")
            </td>
            <td>
                @Model.IssuedBy
            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("Valid Not Before:")
            </td>
            <td>
                @Model.NotBefore
            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("Valid Not After:")
            </td>
            <td>
                @Model.NotAfter
            </td>
        </tr>
        <tr>
            @if (DateTime.Now > Model.NotAfter)
            {
                <td>
                    @Html.Label("Validity Status:")
                </td>
                <td>
                    <font style="color: red">EXPIRED</font>
                </td>

            }
            else if (DateTime.Now < Model.NotBefore)
            {
                <td>
                    @Html.Label("Validity Status:")
                </td>
                <td>
                    <font style="color: red">NOT YET VALID</font>
                </td>

            }
        </tr>
        <tr>
            <td>
                Mark Certificate As Deleted
            </td>
            <td>
                @Html.CheckBoxFor(m => m.IsDeleted)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                This disables the profile's use, but data referring to this profile remains intact.
            </td>
        </tr>
    </table>
    <table width="80%">
        <tr>
            <td align="left">
                <input type="button" value="Cancel" onclick="Cancel();" />
            </td>
            <td align="right">
                <input type="submit" value="Save" />
            </td>
        </tr>
    </table>
}