﻿@{
    ViewBag.Title = "Register Certificate";
    ViewBag.Message = "Select a signing certificate to register.";
}

<hgroup class="title">
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>

<hr />

<script type="text/javascript">
    function Cancel() {
        window.location = "/Certificate/ManageCertificates/";
    }

</script>

@using (Html.BeginForm("VerifyAndConfirmCertificate", "Certificate", FormMethod.Post, new { name = "VerifyAndConfirmCertificate" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <table width="80%" id="tblGroups">
        <td align="center">
            @Html.Label("Certificate File:")
        </td>
        <td>
            <input type="file" name="SelectedCertificateFile" id="SelectedCertificateFile" data-val="true" data-val-required="The file is required." />
        </td>
    </table>
    <table width="80%">
        <tr>
            <td align="left">
                <input type="button" value="Cancel" onclick="Cancel();" />
            </td>
            <td align="right">
                <input type="submit" value="Register" />
            </td>
        </tr>
    </table>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}