﻿@using Microsoft.AspNet.Identity
@using ESP.AppServer.Entities
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @{
                    var displayName = string.Empty;
                    var userProfile = HttpContext.Current.Session["DomainAndLoginId"] as UserProfile;
                    if (userProfile != null)
                    {
                        if (userProfile.FirstName != null && userProfile.FirstName.Length > 0)
                        {
                            displayName = userProfile.FirstName;
                        }
                        else
                        {
                            displayName = userProfile.LoginId;
                        }
                    }
                }
                @Html.Label("Hello " + displayName + "!", new { @style = "color:white; width: 60%" })
            </li>
            <li><a href="javascript:sessionStorage.removeItem('accessToken');$('#logoutForm').submit();">Log off</a></li>
        </ul>
                        }
                    }
                    else
                    {
                    }
