﻿@{
    ViewBag.Title = "Active Directory Sync";
}

<hgroup class="title">
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>

<hr />

@Html.Label("lblComment","The request to sync with Active Directory has been successfully completed.")

<br />

@using (Html.BeginForm("Index", "Admin", FormMethod.Get))
{
    <input type="submit" value="Return To Admin Screen" />
}
