﻿@{
    ViewBag.Title = "Confirm Group Update";
}

<h2>Group Updated</h2>

<br />

@Html.Label("lblComment","The group has been updated however, users for the group will not be added until the Active Directory sync process runs as scheduled.  If desired, you can intiate the Active Directory sync now.")

<br />

<table width="100%">
    <tr>
        <td>
        @using (Html.BeginForm("ManageGroups", "Admin", FormMethod.Get))
        {
            <input type="submit" value="Return To Group Management" />
        }
        </td>
        <td>
        @using (Html.BeginForm("StartADSync", "Admin", FormMethod.Get))
        {
            <input type="submit" value="Initiate Active Directory Sync" />
        }
        </td>
    </tr>
</table>
