﻿@{
    ViewBag.Title = "Entity Exists";
}

<hgroup class="title">
    <h2>@ViewBag.Entity Exists</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>

<hr />

<script type="text/javascript">
    function EditType(typeId) {
        window.location = "/CodeSigningType/ManageCodeSigningType/?typeId=" + typeId;
    }

    function ReturnToTypeManagement() {
        window.location = "/CodeSigningType/ManageCodeSigningTypes";
    }

    function EditTool(toolId) {
        window.location = "/CodeSigningTool/ManageSigningTool/?toolId=" + toolId;
    }

    function ReturnToToolManagement() {
        window.location = "/CodeSigningTool/ManageSigningTools";
    }

    function EditCertificate(certId) {
        window.location = "/Certificate/ManageCertificate/?certId" + certId;
    }

    function ReturnToCertificateManagement() {
        window.location = "/Certificate/ManageCertificates";
    }

    function EditGroup(groupId) {
        window.location = "/Group/ManageGroup/?groupId=" + groupId;
    }

    function ReturnToGroupManagement() {
        window.location = "/Group/ManageGroups";
    }

</script>

The @ViewBag.Entity already exists.  If you need to make changes, please edit the existing @ViewBag.Entity. 

<br />

@if (ViewBag.Entity.ToUpper() == "GROUP")
{ 
    <table width="100%">
        <tr>
            <td>
                <input type="button" value="Return To Group Management" onclick="ReturnToGroupManagement();" />
            </td>
            <td>
                <input type="button" value="Edit Existing Group" onclick="EditGroup(@ViewBag.Id);" />
            </td>
        </tr>
    </table>
}
else if (ViewBag.Entity.ToUpper() == "TYPE")
{ 
    <table width="100%">
        <tr>
            <td>
                <input type="button" value="Return To Code Signing Profile Management" onclick="ReturnToTypeManagement();" />
            </td>
            <td>
                <input type="button" value="Edit Existing Type" onclick="EditType(@ViewBag.Id);" />
            </td>
        </tr>
    </table>
}
else if (ViewBag.Entity.ToUpper() == "TOOL")
{
    <table width="100%">
        <tr>
            <td>
                <input type="button" value="Return To Code Signing Tool Management" onclick="ReturnToToolManagement();" />
            </td>
        </tr>
    </table>
}
else if (ViewBag.Entity.ToUpper() == "CERTIFICATE")
{
    <table width="100%">
        <tr>
            <td>
                <input type="button" value="Return To Code Signing Certificate Management" onclick="ReturnToCertificateManagement();" />
            </td>
        </tr>
    </table>
}

