@{
    ViewBag.Title = "Admin";
}

<hgroup class="title">
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>

<hr />

<script type="text/javascript" language="javascript">

    function ManageGroups() {
        window.location = "/Group/ManageGroups/";
    }

    function ManageCodeSigningTypes() {
        window.location = "/CodeSigningType/ManageCodeSigningTypes/";
    }

    function ManageCodeSigningTools() {
        window.location = "/CodeSigningTool/ManageSigningTools/";
    }

    function ManageGroups() {
        window.location = "/Group/ManageGroups/";
    }

    function ManageCodeSigningCertificates() {
        window.location = "/Certificate/ManageCertificates/";
    }

    function ManageSystemSettings() {
        window.location = "/SystemSetting/ManageSystemSettings/";
    }

    function PerformMaintenance() {
        window.location = "/SystemSetting/DoMaintenance/";
    }


    function StartADSync() {
        var isConfirmed = confirm("Are you sure you want to perform a Directory Sync?");

        if (isConfirmed) {
            window.location = "/Admin/StartADSync/";
        }
    }
    function StartADUpdate() {
        var isConfirmed = confirm("Are you sure you want to perform an Active Directory User Profile Update?");

        if (isConfirmed) {
            window.location = "/Admin/StartADUpdate/";
        }
    }

</script>

<table width="100%">
    <tr>
        <td colspan="2"><h3><font color="#000000">Code Signing Profiles</font></h3></td>
    </tr>
    <tr>
        <td>The list of Code Signing Profiles that the system supports.</td>
        <td align="right"><input type="button" value="Manage" onclick="ManageCodeSigningTypes();" /></td>
    </tr>
    <tr>
        <td colspan="2"><h3><font color="#000000">Groups</font></h3></td>
    </tr>
    <tr>
        <td>The list of groups authorized to access the Gateway.</td>
        <td align="right"><input type="button" value="Manage" onclick="ManageGroups();" /></td>
    </tr>
    @{bool webcert = true;
        try
        {
            webcert = bool.Parse(Util.Config.DynamicConfigurationManager.AppSettings[CSG.AppServer.Constants.AppConfigNames.WebCertManagement]);
        }
        catch { } // default is true, which is showing web cert magament
        if (webcert)
        {
        <tr>
            <td colspan="2"><h3><font color="#000000">Code Signing Certificates</font></h3></td>
        </tr>
        <tr>
            <td>The list of digital certificates used for code signing.</td>
            <td align="right"><input type="button" value="Manage" onclick="ManageCodeSigningCertificates();" /></td>
        </tr>
        }
     }
    <tr>
        <td colspan="2"><h3><font color="#000000">Signing Tools</font></h3></td>
    </tr>
    <tr>
        <td>The list of Code Signing Tools that the system supports.</td>
        <td align="right"><input type="button" value="Manage" onclick="ManageCodeSigningTools();" /></td>
    </tr>
    <tr>
        <td colspan="2"><h3><font color="#000000">System Settings</font></h3></td>
    </tr>
    <tr>
        <td>System settings controls the behavior of various aspects of the application.</td>
        <td align="right"><input type="button" value="Manage" onclick="ManageSystemSettings();" /></td>
    </tr>
    <tr>
        <td colspan="2"><h3><font color="#000000">System Maintenance</font></h3></td>
    </tr>
    <tr>
        <td>Perform system maintenance functions.</td>
        <td align="right"><input type="button" value="Manage" onclick="PerformMaintenance();" /></td>
    </tr>
    <tr>
        <td colspan="2"><h3><font color="#000000">Permissions Sync</font></h3></td>
    </tr>
    <tr>
        <td>Use this function to manually start the Permissions sync process.  The process runs on a scheduled basis however, you may want to initiate the sync after updating permissions in the system.</td>
        <td align="right"><input type="button" value="Sync" onclick="StartADSync();" /></td>
    </tr>
</table>
