﻿@model CCSS.WebSite.Models.SystemSettingsModel 

@{
    ViewBag.Title = "Manage System Setting";
}

    <script type="text/javascript">
        function Cancel() {
            document.location("/Admin/ManageSystemSettings/");
        }

//        $(function () {
//            $("#datepicker").datepicker(); 
//        });
    </script>

<h2>Setting - @Model.SelectedSetting.Name</h2>

@using (Html.BeginForm("SaveSetting", "Admin", FormMethod.Post, new { name="SaveSetting"} ))
{ 
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

        <input type="hidden" id="hdnSettingId" name="hdnSettingId" value="@Model.SelectedSetting.Id" />

<table width="80%" id="tblGroups">
    <tr>
        <th>
            Name
        </th>
        <td>
            @Html.TextBoxFor(m => m.SelectedSetting.Name)
            @Html.ValidationMessageFor(m => m.SelectedSetting.Name)
        </td>
    </tr>
    <tr>
        <th>
            Description
        </th>
        <td>
            @Html.TextAreaFor(m => m.SelectedSetting.Description)
            @Html.ValidationMessageFor(m => m.SelectedSetting.Description)
        </td>
    </tr>
    <tr>
        <th>
            DataType
        </th>
        <td>
@*            <select id="ddlDataType" name="ddlDataType">
                <option value="1">String</option>            
                <option value="2">Integer</option>            
                <option value="3">Double</option>            
                <option value="4">Date/Time</option>            
                <option value="5">Boolean</option>            
            </select>*@
        </td>
    </tr>

     @if (Model.SelectedSetting.DataType == CCSS.AppServer.SystemSettingDataType.String)
      { 
          <tr>
                <th>
                    <div id="pnlStringLabel">
                        String Value
                    </div>
                </th>
                <td>
                    <div id="pnlStringValue">
                        @Html.TextAreaFor(m => m.SelectedSetting.StringValue)
                    </div>
                </td>
         </tr>
      }
     else if (Model.SelectedSetting.DataType == CCSS.AppServer.SystemSettingDataType.Integer)
     { 
          <tr>
                <th>
                    <div id="pnlIntegerLabel">
                        Integer Value
                    </div>
                </th>
                <td>
                    <div id="pnlIntegerValue">
                        @Html.TextBoxFor(m => m.SelectedSetting.IntegerValue)
                    </div>
                </td>
         </tr>
     }
     else if (Model.SelectedSetting.DataType == CCSS.AppServer.SystemSettingDataType.Double)
     { 
          <tr>
                <th>
                    <div id="pnlDoubleLabel">
                        Double Value
                    </div>
                </th>
                <td>
                    <div id="pnlDoubleValue">
                        @Html.TextBoxFor(m => m.SelectedSetting.DoubleValue)
                    </div>
                </td>
         </tr>
     }
     else if (Model.SelectedSetting.DataType == CCSS.AppServer.SystemSettingDataType.DateTime)
     { 
          <tr>
                <th>
                    <div id="pnlDateTimeLabel">
                        Date/Time Value
                    </div>
                </th>
                <td>
                    <div id="pnlDateTimeValue">
                        @*<input type="text" id="datepicker" />*@
                    </div>
                </td>
         </tr>
     }
     else if (Model.SelectedSetting.DataType == CCSS.AppServer.SystemSettingDataType.Boolean)
     { 
          <tr>
                <th>
                    <div id="pnlBooleanLabel">
                        Boolean Value
                    </div>
                </th>
                <td>
                    <div id="pnlBooleanValue">
                        @Html.CheckBoxFor(m => (bool)m.SelectedSetting.BooleanValue)
                    </div>
                </td>
         </tr>
     }

</table>

<table width="80%">
    <tr>
        <td align="left">
            <input type="button" value="Cancel" onclick="javascript:Cancel();" />
        </td>
        <td align="right">
@*            <input type="button" value="Save" onclick="javascript:Save();"/>*@
            <input type="submit" value="Save"/>
        </td>
    </tr>
</table>
    
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
