﻿@model CCSS.WebSite.Models.CodeSigningTypesModel 

@{
    ViewBag.Title = "Manage Code Signing Types";
}

<script type="text/javascript">
    function Edit(typeId) {
        document.location("/Admin/ManageCodeSigningType/?typeId=" + typeId);
    }

</script>

<h2>Manage Code Signing Types</h2>

<table width="100%" id="tblCodeSigningTypes">
    <tr>
        <td colspan="6" align="right">
            <input type="button" value="Create New Type" onclick="javascript:Edit(0);" />
        </td>
    </tr>
    <tr>
        <th>
            Name
        </th>
        <th>
            Staging Directory
        </th>
        <th>
            Signed Directory
        </th>
        <th>
        </th>
    </tr>
    @if (Model.CodeSigningTypes != null)
    {
        foreach (CCSS.AppServer.Entities.CodeSigningType type in Model.CodeSigningTypes)
        { 
        <tr>
            <td>@type.Name
            </td>
            <td>@type.StagingDirectory
            </td>
            <td>@type.SignedDirectory
            </td>
            <td>
                <img alt="Edit Type" src="../../Images/details.png" height="25px" width="25px" onclick="javascript:Edit(@type.Id);" />
            </td>
        </tr>
        }
    }
</table>

