﻿@model CCSS.WebSite.Models.GroupsModel 

@{
    ViewBag.Title = "Manage Group";
}

    <script type="text/javascript">
        function Cancel() {
            document.location("/Admin/ManageGroups/");
        }

        function AddCodeSigningType() {
            var remainingCodeSigningTypes = document.getElementById("RemainingCodeSigningTypes");
            var selectedCodeSigningTypes = document.getElementById("SelectedCodeSigningTypes");

            for (i = remainingCodeSigningTypes.length - 1; i >= 0; i--) {
                var current = remainingCodeSigningTypes.options[i];

                if (current.selected) {
                    remainingCodeSigningTypes.remove(i);
                    try {
                        selectedCodeSigningTypes.add(current, null); // standards compliant; doesn't work in IE
                    }
                    catch (ex) {
                        selectedCodeSigningTypes.add(current); // IE only
                    }
                }
            }
            SetCodeSigningTypes();
        }

        function RemoveCodeSigningType() {
            var remainingCodeSigningTypes = document.getElementById("RemainingCodeSigningTypes");
            var selectedCodeSigningTypes = document.getElementById("SelectedCodeSigningTypes");

            for (i = selectedCodeSigningTypes.length - 1; i >= 0; i--) {
                var current = selectedCodeSigningTypes.options[i];

                if (current.selected) {
                    selectedCodeSigningTypes.remove(i);
                    try {
                        remainingCodeSigningTypes.add(current, null); // standards compliant; doesn't work in IE
                    }
                    catch (ex) {
                        remainingCodeSigningTypes.add(current); // IE only
                    }
                }
            }
            SetCodeSigningTypes();
        }

        function SetCodeSigningTypes() {
            var selectedCodeSigningTypes = document.getElementById("SelectedCodeSigningTypes");
            var codeSigningTypes = document.getElementById("hdnSelectedCodeSigningTypes");
            var temp;

            for (i = selectedCodeSigningTypes.length - 1; i >= 0; i--) {
                var current = selectedCodeSigningTypes.options[i];
                temp = temp + "," + current.value;
            }

            codeSigningTypes.value = temp;
        }
    </script>


<h2>Group - @Model.SelectedGroup.Name</h2>

@using (Html.BeginForm("SaveGroup", "Admin", FormMethod.Post, new { name="SaveGroup"} ))
{ 
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

        <input type="hidden" id="hdnGroupId" name="hdnGroupId" value="@Model.SelectedGroup.Id" />
        <input type="hidden" id="hdnSelectedCodeSigningTypes" name="hdnSelectedCodeSigningTypes" value="@Model.DelimitedCodeSigningTypes" />

<table width="80%" id="tblGroups">
    <tr>
        <th>
            Domain
        </th>
        <td>
            @Html.TextBoxFor(m => m.SelectedGroup.Domain)
            @Html.ValidationMessageFor(m => m.SelectedGroup.Domain)
        </td>
    </tr>
    <tr>
        <th>
            Name
        </th>
        <td>
            @Html.TextBoxFor(m => m.SelectedGroup.Name)
            @Html.ValidationMessageFor(m => m.SelectedGroup.Name)
        </td>
    </tr>
    <tr>
        <th>
            Active Directory SID
        </th>
        <td>
            @if (Model.SelectedGroup.ActiveDirectorySId != null)
            { 
                @Html.Label(Model.SelectedGroup.ActiveDirectorySId)
            }
        </td>
    </tr>
    <tr>
        <td colspan="2">
            This is the SId defined by Active Directory for the group.  It is not editable.
        </td>
    </tr>
    <tr>
        <th>
            Is Developer Group?
        </th>
        <td>
            @Html.CheckBoxFor(m => m.SelectedGroup.IsDeveloperGroup)
        </td>
    </tr>
    <tr>
        <td colspan="2">
            Indicates that this group is a developer group and will be submitting code signing requests.
        </td>
        </tr>
    <tr>
        <th>
            Is Admin Group?
        </th>
        <td>
            @Html.CheckBoxFor(m => m.SelectedGroup.IsAppAdminGroup)
        </td>
    </tr>
    <tr>
        <td colspan="2">
            Indicates that this group is an admin group and will manage the application.
        </td>
    </tr>
    <tr>
        <th>
            Code Signing Types
        </th>
        <td>
            <table width="100%">
                <tr>
                    <td align="left">
                        @Html.ListBoxFor(m => m.SelectedCodeSigningTypes, (SelectList)Model.SelectedCodeSigningTypes, new { @class = "listBox" })
                    </td>
                    <td align="left">
                        <input type="button" value="<<" onclick="javascript:AddCodeSigningType();" />
                        <br />
                        <br />
                        <input type="button" value=">>" onclick="javascript:RemoveCodeSigningType();" />
                    </td>
                    <td align="right">
                        @Html.ListBoxFor(m => m.RemainingCodeSigningTypes, (SelectList)Model.RemainingCodeSigningTypes, new { @class = "listBox" })
                    </td>
                </tr>
            </table>

        </td>
    </tr>
    <tr>
        <td colspan="2">
            The code signing types this group is authorized to submit requests for.
        </td>
    </tr>
    @*<tr>
        <th>
            Is Deleted?
        </th>
        <td>
            @Html.CheckBoxFor(m => m.SelectedGroup.IsDeleted)
        </td>
    </tr>
    <tr>
        <td colspan="2">
            This allows you to mark the group as being deleted.  By marking it deleted, no new code signing requests can be created for that group.
            However, all previously submitted and in process requests associated with the group will continue to progress through the system.
        </td>
    </tr>*@

</table>

<table width="80%">
    <tr>
        <td align="left">
            <input type="button" value="Cancel" onclick="javascript:Cancel();" />
        </td>
        <td align="right">
@*            <input type="button" value="Save" onclick="javascript:Save();"/>*@
            <input type="submit" value="Save"/>
        </td>
    </tr>
</table>
    
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}