﻿@model CCSS.WebSite.Models.SystemSettingsModel

@{
    ViewBag.Title = "Manage System Settings";
}

<script type="text/javascript">
    function Edit(settingId) {
        document.location("/Admin/ManageSystemSetting/?settingId=" + settingId);
    }

</script>

<h2>Manage System Settings</h2>

<table width="100%" id="tblSettings">
    <tr>
        <td colspan="4" align="right">
            <input type="button" value="Create New Setting" onclick="javascript:Edit(0);" />
        </td>
    </tr>

    <tr>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            Value
        </th>
        <th>
        </th>
    </tr>
    @if (Model.Settings != null)
    {
        foreach (CCSS.AppServer.Entities.SystemSetting setting in Model.Settings)
        { 
        <tr>
            <td>@setting.Name
            </td>
            <td>@setting.Description
            </td>
            @if (setting.DataType == CCSS.AppServer.SystemSettingDataType.String)
            { 
                <td>@setting.StringValue
                </td>
            }
            else if (setting.DataType == CCSS.AppServer.SystemSettingDataType.Integer)
            { 
                <td>@setting.IntegerValue
                </td>
            }
            else if (setting.DataType == CCSS.AppServer.SystemSettingDataType.Double)
            { 
                <td>@setting.DoubleValue
                </td>
            }
            else if (setting.DataType == CCSS.AppServer.SystemSettingDataType.DateTime)
            { 
                <td>@setting.DateValue
                </td>
            }
            else if (setting.DataType == CCSS.AppServer.SystemSettingDataType.Boolean)
            { 
                <td>@setting.BooleanValue
                </td>
            }
            <td>
                <img alt="Edit Group" src="../../Images/details.png" height="25px" width="25px" onclick="javascript:Edit(@setting.Id);" />
            </td>
        </tr>
        }
    }
</table>



