﻿@model CCSS.WebSite.Models.GroupsModel

@{
    ViewBag.Title = "Manage Groups";
}

<script type="text/javascript">
    function Edit(groupId) {
        document.location("/Admin/ManageGroup/?groupId=" + groupId);
    }

</script>

<h2>Manage Groups</h2>

<table width="100%" id="tblGroups">
    <tr>
        <td colspan="6" align="right">
            <input type="button" value="Create New Group" onclick="javascript:Edit(0);" />
        </td>
    </tr>

    <tr>
        <th>
            Domain
        </th>
        <th>
            Name
        </th>
        <th>
            Active Directory SID
        </th>
        <th>
            Is Developer Group?
        </th>
        <th>
            Is Admin Group?
        </th>
        <th>
        </th>
    </tr>
    @if (Model.Groups != null)
    {
        foreach (CCSS.AppServer.Entities.Group group in Model.Groups)
        { 
        <tr>
            <td>@group.Domain
            </td>
            <td>@group.Name
            </td>
            <td>@group.ActiveDirectorySId
            </td>
            <td>@group.IsDeveloperGroup
            </td>
            <td>@group.IsAppAdminGroup
            </td>
            <td>
                <img alt="Edit Group" src="../../Images/details.png" height="25px" width="25px" onclick="javascript:Edit(@group.Id);" />
            </td>
        </tr>
        }
    }
</table>


