﻿@model CCSS.WebSite.Models.CodeSigningTypesModel 

@{
    ViewBag.Title = "Manage Code Signing Type";
}

    <script type="text/javascript">
        function Cancel() {
            document.location("/Admin/ManageCodeSigningTypes/");
        }

        function AddGroup() {
            var remainingGroups = document.getElementById("RemainingGroups");
            var selectedGroups = document.getElementById("SelectedGroups");

            for (i = remainingGroups.length - 1; i >= 0; i--) {
                var current = remainingGroups.options[i];

                if (current.selected) {
                    remainingGroups.remove(i);
                    try {
                        selectedGroups.add(current, null); // standards compliant; doesn't work in IE
                    }
                    catch (ex) {
                        selectedGroups.add(current); // IE only
                    }
                }
            }
            SetGroups();
        }

        function RemoveGroup() {
            var remainingGroups = document.getElementById("RemainingGroups");
            var selectedGroups = document.getElementById("SelectedGroups");

            for (i = selectedGroups.length - 1; i >= 0; i--) {
                var current = selectedGroups.options[i];

                if (current.selected) {
                    selectedGroups.remove(i);
                    try {
                        remainingGroups.add(current, null); // standards compliant; doesn't work in IE
                    }
                    catch (ex) {
                        remainingGroups.add(current); // IE only
                    }
                }
            }
            SetGroups();
        }

        function SetGroups() {
            var selectedGroups = document.getElementById("SelectedGroups");
            var groups = document.getElementById("hdnSelectedGroups");
            var temp;

            for (i = selectedGroups.length - 1; i >= 0; i--) {
                var current = selectedGroups.options[i];
                temp = temp + "," + current.value;
            }

            groups.value = temp;
        }


    </script>


<h2>Code Signing Type - @Model.SelectedCodeSigningType.Name</h2>

@using (Html.BeginForm("SaveCodeSigningType", "Admin", FormMethod.Post, new { name = "SaveCodeSigningType" }))
{ 
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

        <input type="hidden" id="hdnTypeId" name="hdnTypeId" value="@Model.SelectedCodeSigningType.Id" />
        <input type="hidden" id="hdnSelectedGroups" name="hdnSelectedGroups" value="@Model.DelimitedGroups" />

<table width="80%" id="tblCodeSigningTypes">
    <tr>
        <th>
            Name
        </th>
        <td>
            @Html.TextBoxFor(m => m.SelectedCodeSigningType.Name)
            @Html.ValidationMessageFor(m => m.SelectedCodeSigningType.Name)
        </td>
    </tr>
    <tr>
        <th>
            Staging Directory
        </th>
        <td>
            @Html.TextBoxFor(m => m.SelectedCodeSigningType.StagingDirectory)
            @Html.ValidationMessageFor(m => m.SelectedCodeSigningType.StagingDirectory)
        </td>
    </tr>
    <tr>
        <td colspan="2">
            This is the directory the unsigned files must be copied to in order to initiate the code signing.
        </td>
    </tr>
    <tr>
        <th>
            Signed Directory
        </th>
        <td>
            @Html.TextBoxFor(m => m.SelectedCodeSigningType.SignedDirectory)
            @Html.ValidationMessageFor(m => m.SelectedCodeSigningType.SignedDirectory)
        </td>
    </tr>
    <tr>
        <td colspan="2">
            This is the directory the signed files will be copied to once the code signing is complete.
        </td>
        </tr>
    <tr>
        <th>
            Groups
        </th>
        <td>
            <table width="100%">
                <tr>
                    <td align="left">
                        @Html.ListBoxFor(m => m.SelectedGroups, (SelectList)Model.SelectedGroups, new { @class = "listBox" })
                    </td>
                    <td align="left">
                        <input type="button" value="<<" onclick="javascript:AddGroup();" />
                        <br />
                        <br />
                        <input type="button" value=">>" onclick="javascript:RemoveGroup();" />
                    </td>
                    <td align="right">
                        @Html.ListBoxFor(m => m.RemainingGroups, (SelectList)Model.RemainingGroups, new { @class = "listBox" })
                    </td>
                </tr>
            </table>

        </td>
    </tr>
    <tr>
        <td colspan="2">
            The development groups authorized to submit requests of this type.
        </td>
    </tr>

@*    <tr>
        <th>
            Is Deleted?
        </th>
        <td>
            @Html.CheckBoxFor(m => m.SelectedCodeSigningType.IsDeleted)
        </td>
    </tr>
    <tr>
        <td colspan="2">
            This allows you to mark the type as being deleted.  By marking it deleted, no new code signing requests can be created for that type.
            However, all previously submitted and in process requests associated with the type will continue to progress through the system and all history
            will be preserved. 
        </td>
    </tr>
*@
</table>

<table width="80%">
    <tr>
        <td align="left">
            <input type="button" value="Cancel" onclick="javascript:Cancel();" />
        </td>
        <td align="right">
            <input type="submit" value="Save"/>
        </td>
    </tr>
</table>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}