﻿@{
    ViewBag.Title = "Manage Groups";
}

<hgroup class="title">
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>

<hr />

<script type="text/javascript">
    function Edit(groupId) {
        window.location = "/Group/ManageGroup/?groupId=" + groupId;
    }

</script>

<table width="100%" id="tblGroups">
    <tr>
        <td colspan="6" align="right">
            <input type="button" value="Create New Group" onclick="Edit(0);" />
        </td>
    </tr>

    <tr>
        <th>
            Domain
        </th>
        <th>
            Name
        </th>
        <th>
            Active Directory SID
        </th>
        <th>
            Developer Group
        </th>
        <th>
            Approvers Group
        </th>
        <th>
            Admin Group
        </th>
        <th>
        </th>
    </tr>
    @if (ViewBag.Groups != null)
    {
        foreach (CSG.AppServer.Entities.Group group in ViewBag.Groups)
        { 
        <tr>
            <td>@group.Domain
            </td>
            <td>@group.Name
            </td>
            <td>@group.ActiveDirectorySId
            </td>
            <td>@group.IsDeveloperGroup
            </td>
            <td>
                @group.IsApproverGroup
            </td>
            <td>@group.IsAppAdminGroup
            </td>
            <td>
                <img alt="Edit Group" src="../../Images/details.png" height="25px" width="25px" onclick="Edit(@group.Id);" />
            </td>
        </tr>
        }
    }
</table>


