﻿@{
    ViewBag.Title = "Manage Tools";
}

<hgroup class="title">
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>

<hr />

<script type="text/javascript">
    function Edit(toolId) {
        window.location = "/Group/ManageTool/?toolId=" + toolId;
    }

</script>

<table width="100%" id="tblTools">
    <tr>
        <td colspan="6" align="right">
            <input type="button" value="Create New Tool" onclick="Edit(0);" />
        </td>
    </tr>

    <tr>
        <th>
            Domain
        </th>
        <th>
            Name
        </th>
        <th>
            Active Directory SID
        </th>
        <th>
            Developer Group
        </th>
        <th>
            Approvers Group
        </th>
        <th>
            Admin Group
        </th>
        <th>
        </th>
    </tr>
</table>


