﻿@model CSG.AppServer.Entities.CodeSigningType 

@{
    ViewBag.Title = "Manage Codesigning Tool";
}

<hgroup class="title">
    <h2>@ViewBag.Title - <font color="#000000">@Model.Name</font></h2>
    <h3>@ViewBag.Message</h3>
</hgroup>

<hr />

<script type="text/javascript">
    function Cancel() {
        window.location = "/Group/ManageTools/";
    }

    function AddCodeSigningType() {
        var remainingCodeSigningTypes = document.getElementById("lstRemainingCodeSigningTypes");
        var selectedCodeSigningTypes = document.getElementById("lstSelectedCodeSigningTypes");

        for (i = remainingCodeSigningTypes.length - 1; i >= 0; i--) {
            var current = remainingCodeSigningTypes.options[i];

            if (current.selected) {
                remainingCodeSigningTypes.remove(i);
                try {
                    selectedCodeSigningTypes.add(current, null); // standards compliant; doesn't work in IE
                }
                catch (ex) {
                    selectedCodeSigningTypes.add(current); // IE only
                }
            }
        }
        SetCodeSigningTypes();
    }

    function RemoveCodeSigningType() {
        var remainingCodeSigningTypes = document.getElementById("lstRemainingCodeSigningTypes");
        var selectedCodeSigningTypes = document.getElementById("lstSelectedCodeSigningTypes");

        for (i = selectedCodeSigningTypes.length - 1; i >= 0; i--) {
            var current = selectedCodeSigningTypes.options[i];

            if (current.selected) {
                selectedCodeSigningTypes.remove(i);
                try {
                    remainingCodeSigningTypes.add(current, null); // standards compliant; doesn't work in IE
                }
                catch (ex) {
                    remainingCodeSigningTypes.add(current); // IE only
                }
            }
        }
        SetCodeSigningTypes();
    }

    function SetCodeSigningTypes() {
        var selectedCodeSigningTypes = document.getElementById("lstSelectedCodeSigningTypes");
        var codeSigningTypes = document.getElementById("hdnSelectedCodeSigningTypes");
        var temp;

        for (i = selectedCodeSigningTypes.length - 1; i >= 0; i--) {
            var current = selectedCodeSigningTypes.options[i];
            temp = temp + "," + current.value;
        }

        codeSigningTypes.value = temp;
    }
</script>

@using (Html.BeginForm("SaveTool", "Tool", FormMethod.Post, new { name = "SaveTool" }))
{ 
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)


<table width="80%" id="tblGroups">
    <tr>
        <th>
            Domain
        </th>
        <td>
        </td>
    </tr>
    <tr>
        <th>
            Name
        </th>
        <td>
        </td>
    </tr>
    <tr>
        <th>
            Active Directory SID
        </th>
        <td>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            This is the SId defined by Active Directory for the group.  It is not editable.
        </td>
    </tr>
    <tr>
        <th>
            Is Developer Group?
        </th>
        <td>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            Indicates that this group is a developer group and will be submitting code signing requests.
        </td>
    </tr>
    <tr>

</table>

<table width="80%">
    <tr>
        <td align="left">
            <input type="button" value="Cancel" onclick="Cancel();" />
        </td>
        <td align="right">
@*            <input type="button" value="Save" onclick="Save();"/>*@
            <input type="submit" value="Save"/>
        </td>
    </tr>
</table>
    
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}