@{
    ViewBag.Title = "Help";
}

<hgroup class="title">
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>

<hr />

<section class="contact">
    <header>
        <h3><font color="#000000">User Guide</font></h3>
    </header>
    <p>
        Click <a href="/Docs/UserGuide.pdf">here</a> to view a detailed user guide.
    </p>
</section>

<section class="contact">
    <header>
        <h3><font color="#000000">FAQ</font></h3>
    </header>
    <p>
        To view a list of frequently asked questions, click <a href="FAQ">here</a>.
    </p>
</section>

<section class="contact">
    <header>
        <h3><font color="#000000">Contact Us</font></h3>
    </header>
    <p>
        <span class="label">Support:</span>
        <span><a href="mailto:@CSG.AppServer.AppServerContext.TeamEmailAddress">@CSG.AppServer.AppServerContext.TeamEmailAddress</a></span>
    </p>
</section>

