
@model CSG.WebSite.Models.DashboardModel
@using CSG.WebSite.Controllers;
@{
    ViewBag.Title = "Home: Dashboard";
}

<h2 class="title">@ViewBag.Title</h2>

<hr />

<!-- Submit signing request -->
@using (Html.BeginForm("CreateCodeSigningRequest", "Home"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <!-- Only show the code sign request form if the user is part of a codesigning group -->
    if (Model.codeSigningTypeCount > 0)
    {
        <table style="width:100%;">
            <tr>
                <td style="width:10%;">
                    <img alt="Code Signing Request" src="~/Images/pen-icon.png" height="40" />
                </td>
                <td><h3 style="color:#000000">New code signing request</h3></td>
            </tr>
        </table>


        <table>
            <tr>
                <td>
                    <label>Submit a new request for</label>
                </td>
                <td>
                    @Html.DropDownList("ddlGroups", ViewBag.Groups as SelectList)
                </td>
                <td>
                    <input type="submit" value="Create Request" onclick="" />
                </td>
            </tr>
        </table>
        <hr />
    }
}

<script>
    function ViewRequest(requestId) {
        window.location = "/CodeSigningRequest/Details/?requestId=" + requestId + "&isFromDashboard=true";
    }
    function ApproveRequest(requestId) {
        window.location = "/CodeSigningRequest/Approve/?requestId=" + requestId;
    }
    function OfflineRequest(requestId) {
        window.location = "/CodeSigningRequest/Details/?requestId=" + requestId + "&isFromDashboard=true&offline=true";
    }

    function CancelRequest(requestId) {
        ShowRequest(requestId);
    }

    function DownloadFile(requestId, type) {
        window.open("/CodeSigningRequest/DownloadFile/?requestId=" + requestId + "&type=S", null, null, false);
    }

    function GoToRequestArchive() {
        window.location = "/CodeSigningRequest/RequestArchive/";
    }
    function ShowRequest(requestId) {
        var divResponderNote = document.getElementById("divResponderNote" + requestId);

        divResponderNote.style.display = "block";
    }

    function HideRequest(requestId) {
        var divResponderNote = document.getElementById("divResponderNote" + requestId);
        divResponderNote.style.display = "none";
    }

    function DenyRequest(requestId) {

        var isConfirmed = confirm("Are you sure you want to cancel this request?");

        var txtResponderNote = document.getElementById("txtResponderNote" + requestId);

        if (isConfirmed) {
            $(document).ready(function () {
                $.getJSON("/Home/DenyRequest/?requestId=" + requestId + "&responderNote=" + txtResponderNote.value, null, function (data) {
                    if (data == true) {
                        window.location = "/Home/Dashboard";
                    }
                    else {
                        alert("An error occurred attempting to cancel the request.  If the problem persists, please contact the system administrators.");
                    }
                });
            });
        }
    }

    function SetRequestInfo(requestId, action) {
        if (action == "Cancel") {
            ShowRequest(requestId);
            event.preventDefault();
        }
        else {
            var element = document.getElementById("hdnActionRequest");
            element.value = action;
        }
    }
</script>

<!-- Submit signing request -->
@Html.AntiForgeryToken()
@Html.ValidationSummary(true)

@Html.Hidden("hdnRequestActionId", 0)
@Html.Hidden("hdnActionRequest", "None")

<!-- View pending signing requests -->
@if (Model.PendingRequests != null && Model.PendingRequests.Count > 0)
{
    <table style="width:100%;">
        <tr>
            <td style="width:10%;">
                <img alt="Pending Requests" src="~/Images/hourglass_small.png" height="40" />
            </td>
            <td><h3 style="color:#000000"> Pending code signing requests</h3></td>
        </tr>
    </table>
    <div class="request-table">
        <table id="tblPendingRequests">
            <tr>
                <th width="5%">
                    Id
                </th>
                <th width="13%">
                    Status
                </th>
                <th width="22%">
                    Profile
                </th>
                <th width="25%">
                    File
                </th>
                <th width="10%">
                    Submitted By
                </th>
                <th width="12%">
                    Expires On
                </th>
                <th width="28">
                </th>
                <th width="28">
                </th>
                <th width="28">
                </th>
                <th width="28">
                </th>
                <th></th>
            </tr>
            @if (Model.PendingRequests != null)
            {
                foreach (CSG.AppServer.Entities.CodeSigningRequest request in Model.PendingRequests)
                {
                    <tr>
                        <td>
                            @request.Id.ToString()
                        </td>
                        <td>
                            @request.Status.ToString()
                        </td>
                        <td>
                            @request.CodeSigningType.Name
                        </td>
                        <td>
				            @if(request.UnsignedFileName.Length > 40)
				            {
                              string ufname=request.UnsignedFileName.Substring(0, 40)+"...";
				              @ufname
				            }
				            else
				            {
				              @request.UnsignedFileName
				            }
                        </td>
                        <td>
                            @request.CreatedByUser.FullName
                        </td>
                        <td>
                            @request.CreatedDate.Value.AddHours(72)
                        </td>
                        <td>

                            @{var visibleIcons = ViewData[request.Id.ToString()] as HomeController.VisibleIcons; }
                            @if (visibleIcons != null && visibleIcons.bShowViewButton)
                            {
                                <button onclick="ViewRequest(@request.Id);" title="View Request" style="background-color: Transparent; outline: none; border: none"><img alt="View Request Detail" src="../../Images/details.png" height="25" width="25" /></button>
                            }
                        </td>
                        <td>
                            @if (visibleIcons != null && visibleIcons.bShowApproveButton)
                        {
                                <button onclick="ApproveRequest(@request.Id);" title="Approve or Deny" style="background-color: Transparent; outline: none; border: none"><img alt="Approve or Deny Request" src="/Images/new-checkmark.png" height="25" width="25" /></button>
                            }
                        </td>
                        <td>
                            @if (visibleIcons != null && visibleIcons.bShowCancelButton)
                        {
                                <button onclick="CancelRequest(@request.Id);" title="Cancel" style="background-color: Transparent; outline: none; border: none"><img alt="Cancel Request" src="/Images/red-x.png" height="25" width="25" /></button>
                            }
                        </td>
                        <td>
                            @if (visibleIcons != null && visibleIcons.bShowOfflineButton)
                        {
                                <button onclick="OfflineRequest(@request.Id);" title="Offline Sign" style="background-color: Transparent; outline: none; border: none"><img alt="Perform Offline Signing" src="/Images//download_small.png" height="25" width="25" /></button>
                            }
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="10">
                            <div id="@String.Format("divResponderNote{0}", request.Id.ToString())" style="display:none">
                                <table style="width:100%;">
                                    <tr>
                                        <th>Reason:</th>
                                        <td>@Html.TextArea("txtResponderNote" + request.Id.ToString())</td>
                                    </tr>
                                    <tr>
                                        <td><button type="button" onclick="HideRequest(@request.Id);">Cancel</button></td>
                                        <td style="text-align:right;"><button onclick="DenyRequest(@request.Id);">Cancel Request</button></td>
                                    </tr>
                                </table>
                                <hr />
                            </div>
                        </td>
                    </tr>
                                    }
                                }
        </table>
        <hr />
    </div>
                                }
<!-- View recently completed requests -->
<div id="PendingRequests">

    <table style="width:100%;">
        <tr>
            <td style="width:10%;">
                <img alt="Recently Completed Requests" src="~/Images/download_small.png" height="40" />
            </td>
            <td><h3 style="color:#000000">Recent code signing requests</h3></td>
            <td style="text-align:right; vertical-align:bottom">
                <input type="button" value="View Full Request Archive" onclick="GoToRequestArchive();" />
            </td>
        </tr>
    </table>

    @if (Model.RecentlyCompletedRequests != null)
    {
        <div class="request-table">

            <table style="width:100%;" id="tblRecentRequests">
                <tr>
                    <th width="5%">
                        Id
                    </th>
                    <th width="13%">
                        Status
                    </th>
                    <th width="22%">
                        Profile
                    </th>
                    <th width="25%">
                        File
                    </th>
                    <th width="10%">
                        Submitted By
                    </th>
                    <th width="12%">
                        Submitted On
                    </th>
                    <th width="28">
                    </th>
                    <th width="28">
                    </th>
                    <th width="28">
                    </th>
                    <th width="28">
                    </th>
                    <th></th>
                </tr>
                @foreach (CSG.AppServer.Entities.CodeSigningRequest request in Model.RecentlyCompletedRequests)
                {
                    <tr>
                        <td>
                            @request.Id.ToString()
                        </td>
                        <td>
                            @request.Status.ToString()
                        </td>
                        <td>
                            @request.CodeSigningType.Name
                        </td>
                        <td>
                            @if (request.Status == CSG.AppServer.CodeSigningRequestStatus.CompletedSuccess)
                            {
				                if(request.SignedFileName.Length > 40)
				                {
                                  string fname=request.SignedFileName.Substring(0,40)+"...";
				                  @fname
				                }
				                else
				                {
				                  @request.SignedFileName
				                }				
                            }
                            else
                            {
				                if(request.UnsignedFileName.Length > 40)
				                {
                                  @request.UnsignedFileName.Substring(0, 40)
				                }
				                else
				                {
				                  @request.UnsignedFileName
				                }
                            }
                        </td>
                        <td>
                            @request.CreatedByUser.FullName
                        </td>
                        <td>
                            @request.CreatedDate
                        </td>
                        <td>
                            <button onclick="ViewRequest(@request.Id);" title="View Request" style="background-color: Transparent; outline: none; border: none"><img alt="View Request Detail" src="../../Images/details.png" height="25" width="25" /></button>
                        </td>
                        <td>
                            @if (request.Status == CSG.AppServer.CodeSigningRequestStatus.CompletedSuccess && request.Archived == null && request.SignedFileName != null)
                            {
                                <button onclick="DownloadFile(@request.Id);" title="Download File" style="background-color: Transparent; outline: none; border: none"><img alt="Download Signed File" src="../../Images/red_arrow_small.png" height="25" width="25" /></button>
                            }
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>
                }
            </table>
        </div>
    }
