﻿@{
    ViewBag.Title = "FAQ";
}

<hgroup class="title">
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>

<hr />

<table>
    <tr>
        <td>@Html.Raw(ViewBag.FAQHtml)</td>
    </tr>
</table>

