@{
    ViewBag.Title = "Welcome to the Code Signing Portal";
}

<hgroup class="title">
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>

<hr />

<ol class="round">
    <li>
        <h5><font color="#000000">Overview</font></h5>
        The @Util.Config.DynamicConfigurationManager.AppSettings[CSG.AppServer.Constants.AppConfigNames.ApplicationName] is powered by nCipher HSM and is designed to allow development teams to self manage their code signing needs.
    </li>

</ol>
