﻿@{
    ViewBag.Title = "No Rights";
}

<hgroup class="title">
    <h2>No Rights</h2>
    <h3></h3>
</hgroup>

<hr />

<h2>Oops!, You are not authorized to perform this task.  Please contact Support <a href="mailto:@ViewBag.AdminEmail">@ViewBag.AdminEmail</a></h2>
