﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>
        @Util.Config.DynamicConfigurationManager.AppSettings[CSG.AppServer.Constants.AppConfigNames.ApplicationAbbreviation] - @ViewBag.Title
    </title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/Content/ARM2_styles.css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("scripts", required: false)
    <style type="text/css">
        table#tblPendingRequests tr td:nth-child(2) {
            background: #eee;
        }

        table#tblRecentRequests tr td:nth-child(2), tr td:nth-child(4), tr td:nth-child(6) {
            background: #eee;
        }

        tr:hover {
            background-color: #efe;
        }
    </style>
</head>
<body>

    <header>
        <div class="header-strip">
            <img alt="nCipher" height="50" width="250" src="../../Images/ncipher.png" />
        </div>
        <div class="menu-bar">
            @if (User != null && User.Identity != null && User.Identity.IsAuthenticated)
            {
                try
                {
                    CSG.AppServer.Security.Gatekeeper gatekeeper = new CSG.AppServer.Security.Gatekeeper();
                    if (gatekeeper.GetCurrentUserProfile() != null)
                    {
                        CSG.AppServer.Entities.UserProfile currentUser = gatekeeper.GetCurrentUserProfile();
                        <div>
                            <p style="color:white; float: right; padding-right: 0.5cm"></p>
                        </div>
                    }
                }
                catch (Exception)
                {
                    <div>
                    </div>
                }
            }
            else
            {
                <div>
                </div>

            }
            <section id="login">
                @Html.Partial("_LoginPartial")
            </section>
            <nav>
                <ul style="padding-right: 0.5cm" id="menu">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @if (User != null && User.Identity != null && User.Identity.IsAuthenticated)
                    {
                        CSG.AppServer.Security.Gatekeeper gatekeeper = new CSG.AppServer.Security.Gatekeeper();
                        try
                        {
                            if (gatekeeper.GetCurrentUserProfile() != null)
                            {
                                <li>@Html.ActionLink("Reports", "Index", "Reports")</li>
                                if (gatekeeper.IsUserInAdminRole())
                                {
                                    <li>@Html.ActionLink("Admin", "Index", "Admin")</li>
                                }
                            }
                        }
                        catch (Exception)
                        {

                        }
                    	
		    	<li>@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Logoff</a>
        }</li>
			<li>@Html.ActionLink("Help", "Contact", "Home")</li>
                    }
		    else
		    {
                    	
		    	<li>@Html.ActionLink("Login", "Login", "Account")</li>
			<li>@Html.ActionLink("Help", "Contact", "Home")</li>
		    }
                </ul>
            </nav>
        </div>


    </header>
    <section>
        <div id="arm_body">
            <div class="arm-panel-portal" style="width: 90%; height:auto; margin: 10px auto;">
                @RenderSection("featured", required: false)
                <section class="content-wrapper main-content clear-fix">
                    @RenderBody()
                </section>
            </div>
        </div>
    </section>
    <footer>
        <div id="footer" style="background-color: #C3C3C3;
    margin-top: 100px;
    width: 100%;
    position: fixed;
    z-index: 999;
    bottom: 0;
    margin: 0px;">
            <DIV id="logos-bar" style="background: url('../../../Images/logos-bar.png') no-repeat  right center; height: 46px; color:#000; padding:5px; margin: 0px;">
                @{
                    try
                    {
                        @CSG.AppServer.Managers.SystemSettingsManager.Current.GetBySettingName(CSG.AppServer.Constants.SettingNames.Copyright, true).StringValue;
                    }
                    catch (Exception)
                    {
                        // display nothing.
                    }
                }
            </DIV>
        </div>
    </footer>
</body>

</html>
