@using CSG.AppServer.Entities
@using CSG.AppServer
@if (Request.IsAuthenticated) {
    <text>
        @{ 
            var displayName = string.Empty;
            var userProfile = HttpContext.Current.Session[Constants.UserProfile] as UserProfile;
            if (userProfile != null)
            {
                if (userProfile.FirstName != null && userProfile.FirstName.Length > 0)
                {
                    displayName = userProfile.FirstName;
                }
                else
                {
                    displayName = userProfile.LoginId;
                }
            }
        }

        <li><a style="background-color: transparent; color:white; padding-right: 0.5cm">@ViewBag.ServerName Welcome @Html.ActionLink( @displayName, "manage", "Account")</a>
    </text>
} else {
    <ul>
        @*<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
    </ul>
}
