@{
    ViewBag.Title = "Error";
}

<hgroup class="title">
    <h1 class="error">Error:</h1>
    <h2 class="error">An error occurred while processing your request.</h2>
</hgroup>
<br />

@ViewBag.ErrorMessage
