﻿@model ESP.WebSite.Models.TemporalApprovalsModel
@{
    ViewBag.Title = "Approve";
}

<hgroup class="title">
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>

<hr />

<script type="text/javascript" language="javascript">
    function Edit(windowsId) {
        window.location = "/Approve/ManageApprovalWindow/?windowId=" + windowsId;
    }
</script>

    <table width="100%">
        <tr>
            <td width="10%">
                <img alt="Pending Requests" src="../../Images/green-check-icon.png" height="40px" width="40px" />
            </td>
            <td colspan="2"><h3><font color="#000000">Manage Approval Windows</font></h3></td>
        </tr>
    </table>
    if (Model.temporalApprovals != null && Model.temporalApprovals.Count > 0)
    {
        <script type="text/javascript">

            function DeleteWindow(taId) {

                var isConfirmed = confirm("Are you sure you want to cancel this approval window?");

                if (isConfirmed) {
                    $(document).ready(function () {
                        $.getJSON("/Approve/RemoveTemporalApproval/?taId=" + taId, null, function (data) {
                            if (data == true) {
                                window.location = "/Approve/Index";
                            }
                            else {
                                alert("An error occurred attempting to remove the approval window.  If the problem persists, please contact a system administrator.");
                            }
                        });
                    });
                }
            }
        </script>

        <table width="80%">
            <tr>
                <th>
                    User
                </th>
                <th>
                    Signing Type
                </th>
                <th>
                    Approval Window
                </th>
                <th>
                    Expires
                </th>
                <th>
                </th>
            </tr>
            @foreach (ESP.AppServer.Entities.CodeSigningTemporalApproval ta in Model.temporalApprovals)
            {
                <tr>
                    <td>
                        @ta.UserProfile.DisplayName.ToString()
                    </td>
                    <td>
                        @ta.CodeSigningType.Name.ToString()
                    </td>
                    <td>
                        @ta.windowInDays.ToString() Days
                    </td>
                    <td>
                        @ta.expiration.ToString()
                    </td>
                    <td>
                        <button type="submit" onclick="DeleteWindow(@ta.Id)" Name="ActionRequestId" value=@ta.Id.ToString()><img alt="Action" src="../../Images/red-x.png" height="25px" width="25px" /></button>
                    </td>
                </tr>
            }
        </table>
        <table width="100%">
            <tr>
                <td colspan="5" align="center">
                    <input type="button" value="Add New Tool" onclick="Edit(0);" />
                </td>
            </tr>
        </table>
