﻿@model CSG.WebSite.Models.TemporalApprovalsModel
@{
    ViewBag.Title = "Approve";
}

<hgroup class="title">
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>

<hr />

<script type="text/javascript" language="javascript">
    function Edit(windowId) {
        window.location = "/Approve/ManageApprovalWindow/?windowId=" + windowId;
    }
</script>

<table width="100%">
    <tr>
        <td width="10%">
            <img alt="Pending Requests" src="/Images/new-checkmark.png" height="40" width="40" />
        </td>
        <td colspan="2"><h3><font color="#000000">Manage Approval Windows</font></h3></td>
    </tr>
</table>
<script type="text/javascript">

            function DeleteWindow(taId) {

                var isConfirmed = confirm("Are you sure you want to cancel this approval window?");

                if (isConfirmed) {
                    $(document).ready(function () {
                        $.getJSON("/Approve/RemoveTemporalApproval/?taId=" + taId, null, function (data) {
                            if (data == true) {
                                window.location = "/Approve/ManageApprovalWindows";
                            }
                            else {
                                alert("An error occurred attempting to remove the approval window.  If the problem persists, please contact a system administrator.");
                            }
                        });
                    });
                }
            }
</script>

@if (Model.temporalApprovals != null && Model.temporalApprovals.Count > 0)
{
    <table width="80%">
        <tr>
            <th>
                User
            </th>
            <th>
                Approver
            </th>
            <th>
                Signing Type
            </th>
            <th>
                Approval Window
            </th>
            <th>
                Requires Filename Match
            </th>
            <th>
                Expires
            </th>
            <th>
            </th>
        </tr>
        @foreach (CSG.AppServer.Entities.CodeSigningTemporalApproval ta in Model.temporalApprovals)
        {
            <tr>
                <td>
                    @ta.UserProfile.DisplayName.ToString()
                </td>
                <td>
                    @ta.ApprovingUserProfile.DisplayName.ToString()
                </td>
                <td>
                    @ta.CodeSigningType.Name.ToString()
                </td>
                <td>
                    @ta.windowInDays.ToString() Days
                </td>
                <td>
                    @ta.EnforceSameFileName
                </td>
                <td>
                    @ta.expiration.ToString()
                </td>
                <td>
                    <button type="submit" title="Delete Window" onclick="DeleteWindow(@ta.Id)" style="background-color: Transparent; outline: none; border: none" Name="ActionRequestId" value=@ta.Id.ToString()><img alt="Delete Window"  src="/Images/red-x.png" height="25" width="25" /></button>
                </td>
            </tr>
        }
    </table>
}
<table width="100%">
    <tr>
        <td colspan="5" align="center">
            <input type="button" value="Add Approval Window" onclick="Edit(0);" />
        </td>
    </tr>
</table>
