﻿@model CSG.WebSite.Models.TemporalApprovalModel
@{
    ViewBag.Title = "Add Approval Window for Hash Signing Requests";
}

<hgroup class="title">
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>

<hgroup class="title"></hgroup>

<hr />

<script type="text/javascript">
    var dict = {};
    function Cancel() {
        window.location = "/Approve/ManageApprovalWindows/";
    }

    function ProfileChange() {
        var slProfile = document.getElementById("slProfile");
        var profileId = slProfile.options[slProfile.selectedIndex].value;
        $.getJSON("/Approve/GetUserInfo/?typeId=" + profileId, function (data) {
            var $slUser = $("#slUser");
            $slUser.empty();
            var vals = data.users;
            if (vals.length == 0) {
                document.getElementById('submit').setAttribute("disabled", "disabled");
            }
            else {
                document.getElementById('submit').removeAttribute("disabled");
            }

            $.each(vals, function (index, value) {
                $slUser.append("<option>" + value + "</option>");
            });
        });
    }

    $(document).ready(function () {
        @{
            <text>ProfileChange();</text>
        }

    });
</script>

@using (Html.BeginForm("SaveApprovalWindow", "Approve", FormMethod.Post, new { name = "SaveApprovalWindow" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <table width="80%">
        <tr>
            <th width="30%">
                Signing Profile
            </th>
            <td>
                @Html.DropDownList("ddlProfile", ViewBag.Certificates as SelectList, new { @id = "slProfile", @onchange = "ProfileChange()" })
            </td>
        </tr>
        <tr>
            <td>Select Signing Profile for the approval window.</td>
        </tr>
        <tr>
            <th>
                User
            </th>
            <td>
                @Html.DropDownList("ddlUser", ViewBag.Certificates as SelectList, new { @id = "slUser" })
            </td>
        </tr>
        <tr>
            <td>Select the user to approve.</td>
        </tr>
        <tr>
            <th>
                Require Matching Filename
            </th>
            <td>
                @Html.CheckBoxFor(m => m.requireMatchingFilename)
            </td>
        </tr>
        <tr>
            <td>Select the user to approve.</td>
        </tr>
        <tr></tr>
        <tr id="rwSigningConfig">
        <tr><td width="30%">@Html.Label("Request Approval Window:")</td> <td> @Html.DropDownList("ddlApprovalWindow", ViewData["approvalWindows"] as SelectList, new { @style = "width:50%" })</td></tr>
        <tr><td>Specify the duration of this approval.</td></tr>
        </tr>
        <tr>
            <td align="left">
                <input type="button" value="Cancel" onclick="Cancel();" />
            </td>
            <td align="right">
                <input type="submit" value="Save" name="submit" id="submit" />
            </td>
        </tr>
    </table>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}