﻿.col-md-12 + div {
    float:left;
}
.InvisibleControl{display:none;}
span.imgswap {background-image:url("bottom-image.jpg"); background-repeat: no-repeat; display:block;}
span.imgswap:hover img {visibility:hidden;} 
span.dropt:hover {text-decoration: none; background: #ffffff; z-index: 6; }
span.dropt:hover span {left: 50%; background: #ffffff;} 
span.dropt span {position: absolute; left: -9999px; margin: 4px 0 0 0px; padding: 3px 3px 3px 3px; border-style:solid; border-color:black; border-width:1px;}
span.dropt:hover span {margin: 20px 0 0 170px; background: #ffffff; z-index:6;} 
.ie6 .container .contents { width:auto; }
.delete .dropdown-menu  {
    right: 0;
    min-width: 320px;
    left:auto;
}
.delete a .glyphicon  {
    padding:0px 30px;
}
.modal-information {
    display: none;
}
div.tabbable {
    margin-top:0px!important;
    margin-left:0px!important;
    margin-right:0px!important;
}
div.tabbable .nav-tabs > li > a span {
    color: #333;
}
div.tabbable .nav-tabs > li.active > a span,
div.tabbable .nav-tabs > li.active > a:hover span,
div.tabbable .nav-tabs > li.active > a:focus span {
    color: #FFFFFF !important;
}
.arm-main-well {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}
.modal-body iframe {
    min-height: 600px;
}
.collapsing {
    -webkit-transition: none;
    transition: none;
}
.carousel-control:hover, .carousel-control:focus {
    color: #838383;

}
.arm-toggle-btn{
    position: absolute;
     
}

.approval-label {
    font-weight: bold;
    padding-right: 4px;
}
.approval-label::after {
    content: ':';
}
.approval-completionCommentOptions {
    padding-bottom: 10px;
}
.approval-sub-well.approval-sub-well {
    margin: 0;
    padding: 15px;
}