﻿@{
    ViewBag.Title = "Manage Code Signing Types";
}

<hgroup class="title">
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>

<hr />

<script type="text/javascript">
    function Edit(typeId) {
        window.location = "/CodeSigningType/ManageCodeSigningType/?typeId=" + typeId;
    }

</script>

<table width="100%" id="tblCodeSigningTypes">
    <tr>
        <td colspan="7" align="right">
            <input type="button" value="Create New Type" onclick="Edit(0);" />
        </td>
    </tr>
    <tr>
        <th>
            Name
        </th>
        <th>
            Working Directory
        </th>
        <th>
            Auto Sign
        </th>
        <th>
        </th>
    </tr>
    @if (ViewBag.CodeSigningTypes != null)
    {
        foreach (ESP.AppServer.Entities.CodeSigningType type in ViewBag.CodeSigningTypes)
        { 
        <tr>
            <td>@type.Name
            </td>
            <td>@type.StagingDirectory
            </td>
            <td align="center">
            @if (type.RequireSecondaryApproval == false)
            {
                <img alt="Approval not required for signing." title="Approval not required for signing." src="../../Images/green-check-icon.png" height="15px" width="15px" />
            }
            </td>
            <td style="padding-left: 20px;">
                <img alt="Edit Type" src="../../Images/details.png" height="25px" width="25px" onclick="Edit(@type.Id);" />
            </td>
        </tr>
        }
    }
</table>

