﻿@{
    ViewBag.Title = "System Maintenance";
}

<hgroup class="title">
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>

<hr />

<script type="text/javascript">
</script>

<table width="100%" id="tblSettings">
    <tr>Contains controls for system maintenance tasks.    </tr>



