body {
	font: 12px/16px Arial, Helvetica, sans-serif;
}
#fileQueue {
	width: 400px;
	height: 300px;
	overflow: auto;
	border: 1px solid #E5E5E5;
	margin-bottom: 10px;
}

#main
{
	margin:0 auto; 
	text-align:left; 
	width:960px; 
	margin-top:50px; 
	background:#aaa; 
	padding:30px; 
	height:500px;
}

a {
color:#0077CC;
cursor:pointer;
text-decoration:none;
}

div.demo {
background-color:#FFFFFF;
border:1px solid #E5E5E5;
margin-bottom:20px;
padding:40px
}


