﻿@model CSG.WebSite.Models.CodeSigningTypeModel

@{
    ViewBag.Title = "Code Signing Profile";
}

<hgroup class="title">
    <h2>@ViewBag.Title - <font color="#000000">@Model.Name</font></h2>
    <h3>@ViewBag.Message</h3>
</hgroup>

<hr />

<script type="text/javascript">
    function Cancel() {
        window.location = "/CodeSigningType/ManageCodeSigningTypes/";
    }

    function doThis() {
        document.getElementById('rbMgrRequire').checked = true;
    }

    function ApproverSettingChange() {
        var approverGroupRow = document.getElementById("applyApproverGroupsRow");

        var approverSetting = document.getElementById("ddlApprovalReqs");
        if (approverSetting.selectedIndex == 0 || approverSetting.selectedIndex == 4)
        {
            approverGroupRow.style.display = "none";
        }
        else
        {
            approverGroupRow.style.display = "table";

        }

    }

    function RawSignClick() {

        var toolConfig = document.getElementById("tblCodeSigningToolConfig");
        if (document.getElementById('cbRawSign').checked == true) {
            toolConfig.style.display = "none";
        } else {
            toolConfig.style.display = "table";
        }
    }

    function AddGroup(remaining, selected) {
        var remainingGroups = document.getElementById(remaining);
        var selectedGroups = document.getElementById(selected);

        for (i = remainingGroups.length - 1; i >= 0; i--) {
            var current = remainingGroups.options[i];

            if (current.selected) {
                remainingGroups.remove(i);
                try {
                    selectedGroups.add(current, null); // standards compliant; doesn't work in IE
                }
                catch (ex) {
                    selectedGroups.add(current); // IE only
                }
            }
        }
        SetGroups();
    }

    function RemoveGroup(remaining, selected) {
        var remainingGroups = document.getElementById(remaining);
        var selectedGroups = document.getElementById(selected);

        for (i = selectedGroups.length - 1; i >= 0; i--) {
            var current = selectedGroups.options[i];

            if (current.selected) {
                selectedGroups.remove(i);
                try {
                    remainingGroups.add(current, null); // standards compliant; doesn't work in IE
                }
                catch (ex) {
                    remainingGroups.add(current); // IE only
                }
            }
        }
        SetGroups();
    }

    function SetGroups() {
        var selectedGroups = document.getElementById("lstSelectedDeveloperGroups");
        var groups = document.getElementById("hdnSelectedDeveloperGroups");
        var temp;

        for (i = selectedGroups.length - 1; i >= 0; i--) {
            var current = selectedGroups.options[i];
            temp = temp + "," + current.value;
        }

        groups.value = temp;

        selectedGroups = document.getElementById("lstSelectedApproverGroups");
        groups = document.getElementById("hdnSelectedApproverGroups");

        temp = "";
        for (i = selectedGroups.length - 1; i >= 0; i--) {
            var current = selectedGroups.options[i];
            temp = temp + "," + current.value;
        }

        groups.value = temp;
    }

    function SigningToolChange(value) {
        var slTool = document.getElementById("dbSigningTool");
        var toolId = slTool.options[slTool.selectedIndex].value;
        var verificationDescription = document.getElementById("rwPerformVerificationDescription");
        var verification = document.getElementById("rwPerformVerification");
        var timestampDescription = document.getElementById("rwPerformTimestampingDescription");
        var timestamp = document.getElementById("rwPerformTimestamping");
        var timestampDisabledMessage = document.getElementById("rwPerformTimestampingDisabled");

        $.getJSON("/CodeSigningTool/GetSigningToolInfo/?toolId=" + toolId, function (data) {
            if (data.IsMacroSigner)
            {
                verificationDescription.style.display = "none";
                verification.style.display = "none";
                timestamp.style.display = "none";
                timestampDescription.style.display = "none";
                timestampDisabledMessage.style.display = "none";
            }
            else
            {
                verification.style.display = "table-row";
                verificationDescription.style.display = "table-row";
                timestamp.style.display = "table-row";
                timestampDescription.style.display = "table-row";
                if (data.TimestampServer != null) {
                    document.getElementById("cbTimestamp").removeAttribute("disabled");
                    timestampDisabledMessage.style.display = "none";
                }
                else {
                    document.getElementById("cbTimestamp").checked = false;
                    document.getElementById("cbTimestamp").setAttribute("disabled", "disabled");
                    timestampDescription.style.display = "none";
                    timestampDisabledMessage.style.display = "table-row";
                }
            }

        });
      }

    $(document).ready(function () {


        SigningToolChange();
        ApproverSettingChange();
        @{
            if (Model.RawSign)
            {
                <text>
                document.getElementById('tblCodeSigningToolConfig').style.display = "none";
                </text>
            }
            else
            {
                <text>
                document.getElementById('tblCodeSigningToolConfig').style.display = "table";
                </text>

            }
         }

    });

    $(function () {
        $('#cbRequireSecondary').change(function () {

        });
    });
</script>

@using (Html.BeginForm("SaveCodeSigningType", "CodeSigningType", FormMethod.Post, new { @onload = "onload();", name = "SaveCodeSigningType" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <input type="hidden" id="hdnSelectedDeveloperGroups" name="hdnSelectedDeveloperGroups" value="@ViewBag.DelimitedDeveloperGroups" />
    <input type="hidden" id="hdnSelectedApproverGroups" name="hdnSelectedApproverGroups" value="@ViewBag.DelimitedApproverGroups" />

    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.RequireManagerApproval)
    @Html.HiddenFor(m => m.AllowManagerApproval)
    <table width="80%" id="tblCodeSigningTypes">
        <tr>
            <th width="40%">
                Name
            </th>
            <td>
                @Html.TextBoxFor(m => m.Name)
                @Html.ValidationMessageFor(m => m.Name)
            </td>
        </tr>
    </table>

    <hr />
    <table width="80%" id="tblCodeSigningTypes">
        <tr>
            <th width="40%">
                Signing Certificate
            </th>
            <td>
                @Html.DropDownListFor(m => m.SigningCertificateId, (IEnumerable<SelectListItem>)ViewBag.CodeSigningCertificates)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                The certificate to use for signing.
            </td>
        </tr>
    </table>
    <table width="80%" id="tblCodeSigningToolConfig">
        <tr>
            <th width="40%">
                Signing Tool
            </th>
            <td>
                @Html.DropDownListFor(m => m.SigningToolId, (IEnumerable<SelectListItem>)ViewBag.CodeSigningTools, new { @id = "dbSigningTool", @onchange = "SigningToolChange(this[this.selectedIndex].value);" })
            </td>
        </tr>
        <tr>
            <td colspan="2">
                The signing tool to use for code signing.
            </td>
        </tr>
        <tr id="rwPerformTimestamping">
            <th>
                Perform Timestamping
            </th>
            <td>
                @Html.CheckBoxFor(m => m.RequestTimestamp, new { @id = "cbTimestamp" })
            </td>
        </tr>
        <tr id="rwPerformTimestampingDisabled">
            <td colspan="2">
                <font color="red">The selected signing tool is not configured for timestamping.</font>
            </td>
        </tr>
        <tr id="rwPerformTimestampingDescription">
            <td colspan="2">
                Add a timestamp to the code during the signing process.
            </td>
        </tr>
        <tr id="rwPerformVerification">
            <th>
                Perform Verification
            </th>
            <td>
                @Html.CheckBoxFor(m => m.DoVerification, new { @id = "cbVerify" })
            </td>
        </tr>
        <tr id="rwPerformVerificationDescription">
            <td colspan="2">
                Perform verification after successful signing.
            </td>
        </tr>
        <tr>
            <th width="40%">
                Valid File Extensions
            </th>
            <td>
                @Html.TextBoxFor(m => m.ValidFileExtensions)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                The file extensions that are valid for this signing profile.  Values are comma separated.
            </td>
        </tr>
    </table>
    <div id="divRestrictByRole">
        <hr />
        <table width="80%" id="applyGroupsRow">
            <tr id="trSelectDeveloperGroups">
                <th width="40%">
                    Developer Groups
                </th>
                <td>
                    <table width="100%">
                        <tr>
                            <th style="text-align: center">Available Groups</th>
                            <th></th>
                            <th style="text-align: left">Selected Groups</th>
                        </tr>
                        <tr>
                            <td style="text-align: center">
                                @Html.ListBox("lstRemainingDeveloperGroups", (SelectList)ViewBag.RemainingDeveloperGroups, new { @class = "listBox" })
                            </td>
                            <td align="left">
                                <input type="button" value=">>" onclick="AddGroup('lstRemainingDeveloperGroups', 'lstSelectedDeveloperGroups');" />
                                <br />
                                <br />
                                <input type="button" value="<<" onclick="RemoveGroup('lstRemainingDeveloperGroups', 'lstSelectedDeveloperGroups');" />
                            </td>
                            <td style="text-align: left">
                                @Html.ListBox("lstSelectedDeveloperGroups", (SelectList)ViewBag.SelectedDeveloperGroups, new { @class = "listBox" })
                            </td>
                        </tr>
                    </table>

                </td>
            </tr>
            <tr>
                <td colspan="2">
                    The development groups authorized to submit requests under this profile.
                </td>
            </tr>
        </table>
        <table width="80%" id="applyApproverGroupsRow">
            <tr id="trSelectApproverGroups">
                <th width="40%">
                    Approver Groups
                </th>
                <td>
                    <table width="100%">
                        <tr>
                            <th style="text-align: center">Available Groups</th>
                            <th></th>
                            <th style="text-align: left">Selected Groups</th>
                        </tr>
                        <tr>
                            <td style="text-align: center">
                                @Html.ListBox("lstRemainingApproverGroups", (SelectList)ViewBag.RemainingApproverGroups, new { @class = "listBox" })
                            </td>
                            <td align="left">
                                <input type="button" value=">>" onclick="AddGroup('lstRemainingApproverGroups', 'lstSelectedApproverGroups');" />
                                <br />
                                <br />
                                <input type="button" value="<<" onclick="RemoveGroup('lstRemainingApproverGroups', 'lstSelectedApproverGroups');" />
                            </td>
                            <td style="text-align: left">
                                @Html.ListBox("lstSelectedApproverGroups", (SelectList)ViewBag.SelectedApproverGroups, new { @class = "listBox" })
                            </td>
                        </tr>
                    </table>

                </td>
            </tr>
            <tr>
                <td colspan="2">
                    The groups authorized to approve requests submitted under this profile.
                </td>
            </tr>

        </table>
    </div>
    <div id="divApprovalReqs">

        <table width="80%">
            <tr>
                <th width="40%">
                    Approval Requirements
                </th>
                <td>
                    <table width="75%">
                        <tr>
                            <td>
                                @Html.DropDownList("ddlApprovalReqs", ViewData["approvalRequirements"] as SelectList, new { @style = "width:100%", @onchange = "ApproverSettingChange()" })
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    Specify the approval requirements that must be met before a request is processed.
                </td>
            </tr>
        </table>
    </div>
    <hr />
    <table width="80%">
        <tr>
            <th>
                Mark Profile As Deleted
            </th>
            <td>
                @Html.CheckBoxFor(m => m.IsDeleted)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                This disables the profile's use, but data referring to this profile remains intact.
            </td>
        </tr>
    </table>
    <table width="80%">
        <tr>
            <td align="left">
                <input type="button" value="Cancel" onclick="Cancel();" />
            </td>
            <td align="right">
                <input type="submit" value="Save" />
            </td>
        </tr>
    </table>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}