﻿@{
    ViewBag.Title = "Manage Code Signing Profiles";
}

<hgroup class="title">
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>

<hr />

<script type="text/javascript">
    function Edit(typeId) {
        window.location = "/CodeSigningType/ManageCodeSigningType/?typeId=" + typeId;
    }

</script>
<div style="width: 95%; margin: 0 auto;">
    <table style="width: 100%;  table-layout:auto;" id="tblCodeSigningTypes">
        @{ string savedMessage = ViewBag.SavedMessage; }
        @if (savedMessage != null && savedMessage.Length > 0)
        {
            <tr>
                <td colspan="6" align="center" style="border-style:solid;border-width: 1px 1px 1px 1px;border-color: blue">
                    @savedMessage
                </td>
            </tr>
        }
        <tr>
            <td colspan="6" align="right">
                <input type="button" value="Create New Profile" onclick="Edit(0);" />
            </td>
        </tr>
        <tr>
            <th style="width: 15%;">
                Name
            </th>
            <th style="width: 15%;">
                Signing Tool
            </th>
            <th style="width: 10%;">
                Timestamp
            </th>
            <th style="width: 10%;">
                Deleted
            </th>
            <th style="width: 5%;">
            </th>
        </tr>
        @if (ViewBag.CodeSigningTypes != null)
        {
            foreach (CSG.AppServer.Entities.CodeSigningType type in ViewBag.CodeSigningTypes)
            {
                <tr>
                    <td>@type.Name</td>
                    @if (type.RawSign)
                    {
                        <text>
                            <td align="left"><font color="grey" style="font-style: italic">CSP Profile</font></td></text>
                    }
                    else
                    {
                        <text>
                            <td align="left">@type.SigningTool.Name</td></text>
                    }
                    <td align="left">@type.RequestTimestamp</td>
                    <td align="left"></td>
                    <td style="padding-left: 20px;">
                        <img alt="Edit Profile" src="../../Images/details.png" height="25" width="25" onclick="Edit(@type.Id);" />
                    </td>
                </tr>
            }
        }
        @if (ViewBag.DeletedCodeSigningTypes != null)
        {
            foreach (CSG.AppServer.Entities.CodeSigningType type in ViewBag.DeletedCodeSigningTypes)
            {
                <tr style="background-color: lightgray">
                    <td><font color="red">@type.Name</font></td>
                    @if (type.RawSign)
                    {
                        <text>
                            <td align="left"><font color="red" style="font-style: italic">CSP Profile</font></td></text>
                    }
                    else
                    {
                        <text>
                            <td align="left"><font color="red">@type.SigningTool.Name</font></td></text>
                    }
                    <td align="left"><font color="red">@type.RequestTimestamp</font></td>
                    <td align="left"><font color="red">yes</font></td>
                    <td style="padding-left: 20px;">
                        <img alt="Edit Profile" src="../../Images/details.png" height="25" width="25" onclick="Edit(@type.Id);" />
                    </td>
                </tr>
            }
        }

    </table>
</div>

