@model CSG.WebSite.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<hgroup class="title">
    <h2>@ViewBag.Title</h2>
</hgroup>

<hr />

<section id="loginForm">
<h3>Login using your Active Directory credentials.</h3>
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Log in Form</legend>
        <ol>
             <li>
                @Html.LabelFor(m => m.Domain)
                @Html.TextBoxFor(m => m.Domain)
                @Html.ValidationMessageFor(m => m.Domain)
            </li>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password, new { @Autocomplete = "off" })
                @Html.ValidationMessageFor(m => m.Password)
            </li>
        </ol>
        <input type="submit" value="Log in" />
    </fieldset>
    
}
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
