@{
    ViewBag.Title = "Manage Account";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<hr />

<p class="message-success">@ViewBag.StatusMessage</p>

<p>You're logged in as <strong>@User.Identity.Name</strong>.</p>
<p>Login Time as:</p>
@{int i = 0; }
@foreach (@CSG.AppServer.Entities.ActivityLogEntry item in ViewBag.ActivitiyEntries)
{
        <div>@item.LogTime</div>
    i++;
    if (i > 9){ break; }

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
