﻿@model CSG.AppServer.Entities.CodeSigningRequest

@{
    ViewBag.Title = "Approve Code Signing Request";
}

<hgroup class="title">
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>

<hr />

<section id="approveRequestForm">
    @using (Html.BeginForm("ApproveOrDeny", "CodeSigningRequest"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        @Html.Hidden("hdnRequestId", Model.Id)

        <script type="text/javascript">
        function Cancel() {
            window.location = "/Home/Dashboard/";
        }
        function RadioClick(approveOrDeny) {
            var ddlApprovalWindow = document.getElementById("ddlApprovalWindow");
            var cbMatchFilename = document.getElementById("cbApprovalWindowMatchFilename");
            var divResponderNote = document.getElementById("reasonRow");
            if (approveOrDeny == "Deny") {
                divResponderNote.style.display = "block";
                cbMatchFilename.setAttribute("disabled","disabled");
                ddlApprovalWindow.setAttribute("disabled", "disabled");
            } else {
                divResponderNote.style.display = "none";
                cbMatchFilename.removeAttribute("disabled");
                ddlApprovalWindow.removeAttribute("disabled");
            }

        }

        $(document).ready(function () {
            document.getElementById("cbApprovalWindowMatchFilename").setAttribute("disabled", "disabled");
            document.getElementById("ddlApprovalWindow").setAttribute("disabled", "disabled");
        });
        </script>

        <fieldset>

            <ol class="round">
                <li class="one">
                    @Html.Label("Signing Request Details")
                    <br />
                    <table width="100%" id="tblPendingRequests">
                        <tr><td>@Html.Label("Request Id:")</td><td>@Model.Id</td></tr>
                        <tr><td>@Html.Label("Code Signing Profile:")</td><td>@ViewBag.CodeSigningTypeName</td></tr>
                        <tr><td>@Html.Label("Requesting User:")</td><td>@Model.CreatedByUser.DisplayName</td></tr>
                        <tr><td>@Html.Label("Submitted Time:")</td><td>@Model.CreatedDate</td></tr>
                        <tr><td>@Html.Label("File Hash:")</td><td>@Model.UnsignedFileHash</td></tr>
                        <tr><td>@Html.Label("Project Name:")</td><td>@Model.ProjectName</td></tr>
                        <tr><td>@Html.Label("Release Name:")</td><td>@Model.ReleaseName</td></tr>
                        <tr><td>@Html.Label("Code Signing Profile:")</td><td>@ViewBag.CodeSigningTypeName</td></tr>
                    </table>
                </li>

                <li class="two">
                    @Html.Label("Approve or Deny the request")
                    <br />
                    <table width="75%" id="tblPendingRequests">
                        <tr><td width="30%">@Html.Label("Approve:")</td><td><input type="radio" name="rbApproveDeny" onclick="RadioClick(this.value)" value="Approve" style='width: auto; background:#e2e2e2;border:none'></td></tr>
                        <tr><td width="30%">@Html.Label("Deny:")</td><td><input type="radio" name="rbApproveDeny" onclick="RadioClick(this.value)" checked="checked" value="Deny" style='width: auto; background:#e2e2e2;border:none'> </td></tr>
                    </table>
                    <table id="reasonRow" width="75%">
                        <tr><td width="30%">@Html.Label("Reason for denial:")</td><td>@Html.TextBox("tbDenyReason")</td></tr>
                    </table>

                </li>

                <li class="three">
                    @Html.Label("Specify an approval window for this user")
                    <br />
                    <table width="100%">
                        <tr><td width="30%">@Html.Label("Request Approval Window:")</td> <td> @Html.DropDownList("ddlApprovalWindow", ViewData["approvalWindows"] as SelectList, new { @id = "ddlApprovalWindow", @style = "width:50%" })</td></tr>
                    </table>
                    <table width="100%">
                        <tr><td width="30%">@Html.Label("Require Matching Filename: ")</td><td>@Html.CheckBox("cbRequireFilenameMatch", true, new { @id = "cbApprovalWindowMatchFilename", @style = "width:50%" })</td></tr>
                        <tr></tr>
                        <tr><td colspan="2">The Approval Window is a time period whereby you are approving furture requests from this user for this Signing Profile.</td></tr>
                    </table>

                </li>

                <li class="four">
                    @Html.Label("Submit your approval response:")
                    <br />
                    <table width="350px">
                        <tr>
                            <td><input type="button" value="Cancel" onclick="Cancel();" /></td>
                            <td align="right"><button type="submit" Name="ApproveDenyRequestId" value=@Model.Id>Submit</button></td>
                        </tr>
                    </table>

                </li>
            </ol>

        </fieldset>
    }
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}