﻿@model CSG.AppServer.Entities.CodeSigningRequest
@{
    ViewBag.Title = "Confirm Code Signing Request";
}

<hgroup class="title">
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>

<hr />

@Html.Label("Are you sure you want to submit the file for signing?")

<br />

<table>
    <tr>
        <td>
            @Html.Label("Code Signing Profile:")
    </td>
    <td>
        @Model.CodeSigningType.Name
</td>
</tr>
@{
    var unsignedFiles = ViewBag.unsignedFilesAndHashes as Dictionary<string, string>;

    foreach (KeyValuePair<String, String> fileAndHash in unsignedFiles)
    {
        <tr>
            <th>
            </th>
            <th>
                Filename
            </th>
            <th>
                SHA256 Hash
            </th>
        </tr>
            <tr>
                <td>
                    File:
                </td>
                <td>
                    @fileAndHash.Key
                </td>
                <td>
                    @fileAndHash.Value
                </td>
            </tr>
    }
}
<tr>
    <td>
        @Html.LabelFor(m => m.ReleaseName)
    </td>
    <td>
        @Model.ReleaseName
</td>
</tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.ProjectName)
        </td>
        <td>
            @Model.ProjectName
        </td>
    </tr>

    </tr>

<tr><td colspan="2">&nbsp;</td></tr>
<tr>
    @if (Model.CodeSigningType.IsAutoSign)
    {
        <td colspan="2">This request does not require approval and will be auto signed.</td>
    }
    else
    {
        <td colspan="2">This request requires additional approval before it will be signed.</td>
    }
</tr>

</table>
<table>
    <tr>
        <td>
            @using (Html.BeginForm("", "CodeSigningRequest/Cancel", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                @Html.Hidden("hdnCSRequstIdCancel", Model.Id)

                <input type="submit" value="Cancel" />
            }
        </td>
        <td>
            @using (Html.BeginForm("", "CodeSigningRequest/Confirm", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <!-- Storing ids -->
                @Html.Hidden("hdnCSRequstIdConfirm", Model.Id)

                <input type="submit" value="Confirm" />
            }
        </td>
    </tr>
</table>
