﻿@model CSG.AppServer.Entities.CodeSigningRequest
@{
    ViewBag.Title = "Confirm Offline Signing Fulfillment";
}

<hgroup class="title">
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>

<hr />

@Html.Label("Are you sure you want to submit the signed file?")

<br />
<table>
<tr>
    <td>
        @Html.Label("Code Signing Profile:")
</td>
<td>
    @Model.CodeSigningType.Name
</td>
</tr>
@{
    var signedFiles = ViewBag.signedFilesAndHashes as Dictionary<string, string>;

    foreach (KeyValuePair<String, String> fileAndHash in signedFiles)
    {
        <tr>
            <th>
            </th>
            <th>
                Filename
            </th>
            <th>
                SHA256 Hash
            </th>
        </tr>
        <tr>
            <td>
                File:
            </td>
            <td>
                @fileAndHash.Key
            </td>
            <td>
                @fileAndHash.Value
            </td>
        </tr>
    }
}


</table>
<table>
    <tr>
        <td>
             
            @using (Html.BeginForm("", "CodeSigningRequest/CancelOffline", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                @Html.Hidden("hdnCSRequstIdCancel", Model.Id)

                <input type="submit" value="Cancel" />
            }
        </td>
        <td>
            @using (Html.BeginForm("", "CodeSigningRequest/ConfirmOffline", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <!-- Storing ids -->
                @Html.Hidden("hdnCSRequstIdConfirm", Model.Id)

                <input type="submit" value="Confirm" />
            }
        </td>
    </tr>
</table>
