﻿@model CSG.AppServer.Entities.CodeSigningRequest

@{
    ViewBag.Title = "Create Code Signing Request";
}

<hgroup class="title">
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>

<hr />

<section id="createRequestForm">
    @using (Html.BeginForm("", "CodeSigningRequest/Create", FormMethod.Post, new { name = "CodeSigningRequest/Create", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <script type="text/javascript">
        function ProfileChange() {
            var slProfile = document.getElementById("slProfile");
            var profileId = slProfile.options[slProfile.selectedIndex].value;
            $.getJSON("/CodeSigningRequest/GetProfileInfo/?typeId=" + profileId, function (data) {
                if (data.fileExtensions != null)
                {
                    document.getElementById("lblFileExtensions").style.display = 'block';
                    document.getElementById("lblFileExtensions").innerHTML = data.fileExtensions;
                }
                else
                {
                    document.getElementById("lblFileExtensions").style.display = 'none';
                }
            });
        }

        function Cancel() {
            window.location = "/Home/Dashboard/";
        }

        $(document).ready(function () {

            ProfileChange();
        });
        </script>

        <fieldset>

            <ol class="round">
                <li class="one">
                    @Html.LabelFor(m => m.Group)
                    <br />
                    @Html.DropDownListFor(m => m.GroupId, (SelectList)ViewBag.Groups)
                    @Html.ValidationMessageFor(m => m.Group, "The development group is required.")
                </li>
                <li class="two">
                    @Html.LabelFor(m => m.CodeSigningType)
                    <br />
                    @Html.DropDownListFor(m => m.CodeSigningTypeId, (SelectList)ViewBag.CodeSigningTypes)
                    @Html.ValidationMessageFor(m => m.CodeSigningTypeId, "The code signing type is required.")
                </li>
                <li class="three">
                    @Html.Label("Select the file, or archive of files, to be uploaded and signed (required):", new { style = "color:red" })
                    <br />
                    @Html.Label("", "Use a zip file to submit mutiple files. All files must be compatible with the Signing Profile.")
                    <br />
                    @Html.Label("(All submitted files must be of type: exe, ocx)", new { @id = "lblFileExtensions" })
                    <br />
                    @Html.TextBoxFor(m => m.UnsignedFileName, new { type = "file" })
                    @*<input type="file" name="SelectedFile" id="SelectedFile" class="fileSelectionDialog" data-val="true" data-val-required="The file is required."/>*@
                    @Html.ValidationMessageFor(m => m.UnsignedFileName, "The file is required")
                </li>
                <li class="four">
                    @Html.Label("Enter a project name (if desired):")
                    <br />
                    @Html.DropDownListFor(m => m.ProjectName, new SelectList(ViewBag.projectList), "Select project")
                    <br />
                    <br />
                    @Html.Label("Enter a release name (if desired):")
                    <br />
                    @Html.DropDownListFor(m => m.ReleaseName, new SelectList( ViewBag.releaseList), "Select release")
                </li>

                <li class="five">
                    @Html.Label("Submit the file for approval and signing:")
                    <br />
                    <table width="350px">
                        <tr>
                            <td><input type="button" value="Cancel" onclick="Cancel();" /></td>
                            <td align="right"><input type="submit" value="Submit" /></td>
                        </tr>
                    </table>

                </li>
            </ol>

        </fieldset>
    }
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}