﻿@model CSG.AppServer.Entities.CodeSigningRequest

@{
    ViewBag.Title = "Request Details";
}

<hgroup class="title">
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>

<hr />

<script type="text/javascript">
    function DownloadFile(requestId, type, filename) {
        window.open("/CodeSigningRequest/DownloadFile/?requestId=" + requestId + "&type=" + type + "&filename=" + filename, null, null, false);
    }

    function Return() {
        window.history.back();
    }

</script>
@if (Model != null)
{
    <table width="80%">
        <tr>
            <th align="right">
                @Html.LabelFor(m => m.CodeSigningType.Name)
            </th>
            <td>
                <font size="3">@Model.CodeSigningType.Name</font>
            </td>
            <td></td>
        </tr>
        <tr>
            <th align="right">
                @Html.LabelFor(m => m.Status)
            </th>
            <td>
                <font size="3">@Model.Status.ToString()</font>
            </td>
            <td></td>
        </tr>
        @if (Model.ReleaseName != null && Model.ReleaseName.Length > 0)
        {
            <tr>
                <th align="right">
                    @Html.LabelFor(m => m.ReleaseName)
                </th>
                <td>
                    <font size="3">@Model.ReleaseName</font>
                </td>
                <td></td>
            </tr>
        }
        @if (Model.ProjectName != null && Model.ProjectName.Length > 0)
        {
            <tr>
                <th align="right">
                    @Html.LabelFor(m => m.ProjectName)
                </th>
                <td>
                    <font size="3">@Model.ProjectName</font>
                </td>
                <td></td>
            </tr>
        }
        <tr>
            <th align="right">
                @Html.LabelFor(m => m.Id)
            </th>
            <td>
                <font size="3">@Model.Id</font>
            </td>
            <td></td>
        </tr>
        @if (Model.Archived != null)
        {
            <tr>
                <th align="right">
                    @Html.LabelFor(m => m.Archived)
                </th>
                <td>
                    <font size="3">@Model.Archived.ToString()</font>
                </td>
                <td></td>
            </tr>
        }
    </table>

    <hr />

    <table width="80%">
        <tr>
            <th width="10%">
                Unsigned
            </th>
            <th>
            </th>
            <th>
            </th>
        </tr>
        <tr>
            <td></td>
            <td>
                File Name
            </td>
            <td>
                Hash
            </td>
        </tr>
        @{
            var unsignedFiles = ViewBag.unsignedFilesAndHashes as Dictionary<string, string>;

            foreach (KeyValuePair<String, String> fileAndHash in unsignedFiles)
            {
                <tr>
                    <td align="right"></td>
                    <td>
                        @if (Model.Archived == null)
                        {
                            <a href="javascript:DownloadFile(@Model.Id, 'U', '@fileAndHash.Key')">@fileAndHash.Key</a>
                        }
                        else
                        {
                            @fileAndHash.Key
                        }
                    </td>
                    <td>
                        @fileAndHash.Value
                    </td>

                </tr>
            }
        }
    </table>
    <table width="80%">
        @{
            if (unsignedFiles.Count > 1)
            {
                <tr colspan="3">
                    <a href="javascript:DownloadFile(@Model.Id, 'U', '')">Download all unsigned files.</a>
                </tr>
            }
        }
    </table>
    <table width="80%">
        @{
            var signedFiles = ViewBag.signedFilesAndHashes as Dictionary<string, string>;
            if (signedFiles.Count > 0)
            {
                <tr>
                    <th width="10%">
                        Signed
                    </th>
                    <th>
                    </th>
                    <th>
                    </th>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        File Name
                    </td>
                    <td>
                        Hash
                    </td>
                </tr>

                foreach (KeyValuePair<String, String> fileAndHash in signedFiles)
                {
                    <tr>
                        <td align="right"></td>
                        <td>
                            @if (Model.Archived == null)
                            {
                                <a href="javascript:DownloadFile(@Model.Id, 'S', '@fileAndHash.Key')">@fileAndHash.Key</a>
                            }
                            else
                            {
                                @fileAndHash.Key
                            }
                        </td>
                        <td>
                            @fileAndHash.Value
                        </td>
                    </tr>
                }
            }
        }
    </table>
    <table width="80%">
        <tr>
            <td>
                @if ((Model.Archived == null) && (!String.IsNullOrWhiteSpace(Model.ResultsFileName)))
                {
                    <a href="javascript:DownloadFile(@Model.Id, 'R')">Output File</a>
                }
            </td>
        </tr>
    </table>
    <table width="80%">
        @{
            if (signedFiles.Count > 1)
            {
                <br />
                <tr colspan="3">
                    <a href="javascript:DownloadFile(@Model.Id, 'S', '')">Download all signed files.</a>
                </tr>
            }
        }
    </table>

            if (ViewBag.ApprovingUsers != null)
            {
                <hr />
                <table width="80%">
                    <tr>
                        <th width="20%">
                            Available Approvers
                        </th>
                        <th>
                        </th>
                    </tr>
                    @{
                        var approverNames = ViewBag.ApprovingUsers as List<string>;
                        foreach (string name in approverNames)
                        {
                            <tr>
                                <td></td>
                                <td>@name</td>
                            </tr>

                        }
                    }
                </table>
                        }
                        <hr />

                        if (Model.Status == CSG.AppServer.CodeSigningRequestStatus.CompletedSuccess || Model.Status == CSG.AppServer.CodeSigningRequestStatus.CompletedFailed)
                        {
                            <br />
                            <div>
                                Completed on <b>@Model.CompletionDate</b>
                            </div>
                        }

                        <br />

                        <div>
                            Submitted by <b>@Model.CreatedByUser.DisplayName</b> on <b>@Model.CreatedDate </b>
                        </div>

                        if (Model.Approver1Responder != null)
                        {
                            if (Model.Status == CSG.AppServer.CodeSigningRequestStatus.Denied)
                            {
                                <div>
                                    Denied by <b>@Model.Approver1Responder.DisplayName </b>on <b>@Model.Approver1ResponseDate </b>
                                </div>
                                <div>
                                    Note: @Model.ResponderNote
                                </div>
                            }
                            else if (Model.Status == CSG.AppServer.CodeSigningRequestStatus.Cancelled)
                            {
                                <div>
                                    Cancelled by <b>@Model.Approver1Responder.DisplayName </b>on <b>@Model.Approver1ResponseDate </b>
                                </div>
                            }
                            else
                            {
                                <div>
                                    Approved by <b>@Model.Approver1Responder.DisplayName </b>on <b>@Model.Approver1ResponseDate</b>
                                </div>
                            }
                        }
                        if (Model.Approver2Responder != null)
                        {
                            if (Model.Status == CSG.AppServer.CodeSigningRequestStatus.Denied)
                            {
                                <div>
                                    Denied by <b>@Model.Approver2Responder.DisplayName </b>on <b>@Model.Approver2ResponseDate </b>
                                </div>
                                <div>
                                    Note: @Model.ResponderNote
                                </div>
                            }
                            else if (Model.Status == CSG.AppServer.CodeSigningRequestStatus.Cancelled)
                            {
                                <div>
                                    Cancelled by <b>@Model.Approver2Responder.DisplayName </b>on <b>@Model.Approver2ResponseDate </b>
                                </div>
                            }
                            else
                            {
                                <div>
                                    Approved by <b>@Model.Approver2Responder.DisplayName </b>on <b>@Model.Approver2ResponseDate</b>
                                </div>
                            }
                        }
                        if (Model.ManagerResponder != null)
                        {
                            if (Model.Status == CSG.AppServer.CodeSigningRequestStatus.Denied)
                            {
                                <div>
                                    Denied by <b>@Model.ManagerResponder.DisplayName </b>on <b>@Model.ManagerResponseDate </b>
                                </div>
                                <div>
                                    Note: @Model.ResponderNote
                                </div>
                            }
                            else if (Model.Status == CSG.AppServer.CodeSigningRequestStatus.Cancelled)
                            {
                                <div>
                                    Cancelled by <b>@Model.ManagerResponder.DisplayName </b>on <b>@Model.ManagerResponseDate </b>
                                </div>
                            }
                            else
                            {
                                <div>
                                    Approved by <b>@Model.ManagerResponder.DisplayName </b>on <b>@Model.ManagerResponseDate</b>
                                </div>
                                }
                            }


                        }
                        else
                        {
                            <label>
                                The request could not be found. Please return to the Dashboard and try again.
                            </label>
                        }

<br />

<table width="80%">
    <td>
        @if (!ViewBag.IsFromDashboard)
        {
            <input type="button" value="Return" onclick="Return();" />
        }

        @if (ViewBag.IsFromDashboard)
        {
            using (Html.BeginForm("Dashboard", "Home", FormMethod.Get))
            {
                <input type="submit" value="Return To Dashboard" />
            }
        }
    </td>
    <td>
        @if (ViewBag.IsEligibleForEscalation)
        {
            using (Html.BeginForm("", "CodeSigningRequest/Escalate", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <!-- Storing ids -->
                @Html.Hidden("hdnCSRequstIdConfirm", Model.Id)
                <input type="submit" value="Escalate Approval" />
            }
        }
    </td>
</table>
