﻿@{
    ViewBag.Title = "Download";
}

<hgroup class="title">
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>

<hr />

@if (String.IsNullOrWhiteSpace(ViewBag.ErrorMessage))
{
    Response.Clear();
    Response.AddHeader("Content-Disposition", "attachment; filename=" + ViewBag.FileToDownload.Name);
    Response.AddHeader("Content-Length", ViewBag.FileToDownload.Length.ToString());
    Response.ContentType = "application/octet-stream";

    Response.WriteFile(ViewBag.FileToDownload.FullName);
    Response.Flush();
    Response.End();
    File.Delete(ViewBag.FileToDownload.FullName);
    Directory.Delete(Path.GetDirectoryName(ViewBag.FileToDownload.FullName));

}

@ViewBag.ErrorMessage

    
