﻿@{
    ViewBag.Title = "Fulfill Offline Request";
    ViewBag.Message = "Upload the signed file.";
}


<hgroup class="title">
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>

<hr />

<script type="text/javascript">
    function Cancel() {
        window.location = "/Home/Index";
    }

</script>
@using (Html.BeginForm("FulfillOffline", "CodeSigningRequest", FormMethod.Post, new { name = "FulfillOffline", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.Hidden("hdnRequestId", ViewBag.RequestId as string)

    <table width="80%">
        @{ string errorMessage = ViewBag.errorMessage; }
        @if (!string.IsNullOrEmpty(errorMessage))
        {
            <tr>
                <td colspan="2" align="center" style="border-style:solid;border-width: 1px 1px 1px 1px;border-color: red">
                    @errorMessage
                </td>
            </tr>

        }

        <tr>
            <td align="center">
                @Html.Label("Signed File:")
            </td>
            <td>
                <input type="file" name="SignedFile" id="SignedFile" data-val="true" data-val-required="The file is required." />
            </td>
        </tr>
    </table>
    <table width="80%">
        <tr>
            <td align="left">
                <input type="button" value="Cancel" onclick="Cancel();" />
            </td>
            <td align="right">
                <input type="submit" value="Fulfill Request" />
            </td>
        </tr>
    </table>
            }

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}