﻿@model CSG.AppServer.Entities.CodeSigningRequest

@{
    ViewBag.Title = "Offline Sign Request Details";
}

<hgroup class="title">
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>

<hr />

<script type="text/javascript">
    function DownloadFile(requestId, type) {
        window.open("/CodeSigningRequest/DownloadFile/?requestId=" + requestId + "&type=U", null, null, false);
    }

    function FulfillOffline(requestId) {
        window.location = "/CodeSigningRequest/fulfillOffline/?requestId=" + requestId;
    }

    function RejectOffline(requestId) {
        var isConfirmed = confirm("Are you sure you want to cancel this request?");

        if (isConfirmed) {
            window.location = "/CodeSigningRequest/rejectOffline/?requestId=" + requestId;
        }
    }

    function UploadFile() {
        document.getElementById('fsSignedFile').click();
    }
    function Return() {
        window.history.back();
    }

</script>
@if (Model != null)
{
    <table width="80%">
        <tr>
            <th align="right">
                @Html.LabelFor(m => m.CodeSigningType.Name)
            </th>
            <td>
                <font size="3">@Model.CodeSigningType.Name</font>
            </td>
            <td></td>
        </tr>
        <tr>
            <th align="right">
                @Html.LabelFor(m => m.Status)
            </th>
            <td>
                <font size="3">@Model.Status.ToString()</font>
            </td>
            <td></td>
        </tr>
        <tr>
            <th align="right">
                @Html.LabelFor(m => m.ReleaseName)
            </th>
            <td>
                <font size="3">@Model.ReleaseName</font>
            </td>
            <td></td>
        </tr>
        <tr>
            <th align="right">
                @Html.LabelFor(m => m.Id)
            </th>
            <td>
                <font size="3">@Model.Id</font>
            </td>
            <td></td>
        </tr>
    </table>

    <hr />

    <table width="80%">
        <tr>
            <th>
                Unsigned
            </th>
            <th>
            </th>
            <th>
            </th>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>
            </th>
            <th>
                File Name
            </th>
            <th>
                Hash
            </th>
            <td></td>
            <td></td>
        </tr>
        @{
            var unsignedFiles = ViewBag.unsignedFilesAndHashes as Dictionary<string, string>;

            foreach (KeyValuePair<String, String> fileAndHash in unsignedFiles)
            {
                <tr>
                    <th align="right">
                    </th>
                    <td>
                        <a href="javascript:DownloadFile(@Model.Id, 'U', @fileAndHash.Key)">@fileAndHash.Key</a>
                    </td>
                    <td>
                        @fileAndHash.Value
                    </td>
                    <td></td>
                    <td></td>

                </tr>
            }
        }

        <td>
            @if (!String.IsNullOrWhiteSpace(Model.CertFileName))
            {
                <a href="javascript:DownloadFile(@Model.Id, 'C')">Certificate File</a>
            }
        </td>
    </table>

    <hr />

    <br />

    <div>
        Submitted by <b>@Model.CreatedByUser.DisplayName</b> on <b>@Model.CreatedDate </b>
    </div>

            if (Model.Approver1Responder != null)
            {
                if (Model.Status == CSG.AppServer.CodeSigningRequestStatus.Denied)
                {
                    <div>
                        Denied by <b>@Model.Approver1Responder.DisplayName </b>on <b>@Model.Approver1ResponseDate </b>
                    </div>
                    <div>
                        Note: @Model.ResponderNote
                    </div>
                }
                else if (Model.Status == CSG.AppServer.CodeSigningRequestStatus.Cancelled)
                {
                    <div>
                        Cancelled by <b>@Model.Approver1Responder.DisplayName </b>on <b>@Model.Approver1ResponseDate </b>
                    </div>
                }
                else
                {
                    <div>
                        Approved by <b>@Model.Approver1Responder.DisplayName </b>on <b>@Model.Approver1ResponseDate</b>
                    </div>
                }
            }
            if (Model.Approver2Responder != null)
            {
                if (Model.Status == CSG.AppServer.CodeSigningRequestStatus.Denied)
                {
                    <div>
                        Denied by <b>@Model.Approver2Responder.DisplayName </b>on <b>@Model.Approver2ResponseDate </b>
                    </div>
                    <div>
                        Note: @Model.ResponderNote
                    </div>
                }
                else if (Model.Status == CSG.AppServer.CodeSigningRequestStatus.Cancelled)
                {
                    <div>
                        Cancelled by <b>@Model.Approver2Responder.DisplayName </b>on <b>@Model.Approver2ResponseDate </b>
                    </div>
                }
                else
                {
                    <div>
                        Approved by <b>@Model.Approver2Responder.DisplayName </b>on <b>@Model.Approver2ResponseDate</b>
                    </div>
                }
            }

            if (Model.ManagerResponder != null)
            {
                if (Model.Status == CSG.AppServer.CodeSigningRequestStatus.Denied)
                {
                    <div>
                        Denied by <b>@Model.ManagerResponder.DisplayName </b>on <b>@Model.ManagerResponseDate </b>
                    </div>
                    <div>
                        Note: @Model.ResponderNote
                    </div>
                }
                else if (Model.Status == CSG.AppServer.CodeSigningRequestStatus.Cancelled)
                {
                    <div>
                        Cancelled by <b>@Model.ManagerResponder.DisplayName </b>on <b>@Model.ManagerResponseDate </b>
                    </div>
                }
                else
                {
                    <div>
                        Approved by <b>@Model.ManagerResponder.DisplayName </b>on <b>@Model.ManagerResponseDate</b>
                    </div>
                    }
                }
            }
            else
            {
                <label>
                    The request could not be found. Please return to the Dashboard and try again.
                </label>
            }

<br />

<table>
    <td>
        @using (Html.BeginForm("Dashboard", "Home", FormMethod.Get))
        {
            <input type="submit" value="Return To Dashboard" />
        }
    </td>
    <td>
        <input type="button" value="Download Unsigned File" onclick="DownloadFile(@Model.Id);" />
    </td>
    <td>
        <input type="submit" value="Fulfill Offline Request" onclick="FulfillOffline(@Model.Id);" />
    </td>
    <td>
        <input type="submit" value="Reject Offline Request" onclick="RejectOffline(@Model.Id);" />
    </td>
</table>
