﻿<hgroup class="title">
    <h2>@ViewBag.Title</h2>
</hgroup>

<hr />

@ViewBag.Message

<br />

<table>
    <tr>
        <td>
            @using (Html.BeginForm("Dashboard", "Home", FormMethod.Get))
            {
                <input type="submit" value="Return To Dashboard" />
            }
        </td>
        <td>
            @if (ViewBag.IncludeCreateAnotherButton)
            {
                using (Html.BeginForm("Output", "CodeSigningRequest", FormMethod.Post))
                {
                    <input type="hidden" id="hdnGroupId" name="hdnGroupId" value="@ViewBag.GroupId" />
                    <input type="submit" value="Create another request" />
                }
            }
        </td>
    </tr>
</table>
