﻿@{
    ViewBag.Title = "Request Archive";
}

<hgroup class="title">
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>

<hr />

<style>
    #pagination a {
        display: inline-block;
        margin-right: 5px;
    }

    #pagingTable {
    }
</style>

<script type="text/javascript">
    function ViewRequest(requestId) {
        window.location = "/CodeSigningRequest/Details/?requestId=" + requestId;
    }

    function GetRequestsByStatus() {
        status = document.getElementById("ddlStatus").value;
        window.location = "/CodeSigningRequest/RequestArchiveByStatus/?status=" + status;
    }

    function DownloadFile(requestId) {
        window.open("/CodeSigningRequest/DownloadFile/?requestId=" + requestId + "&type=S", null, null, false);
    }

    function pagination() {
        var req_num_row=50;
        var $tr = jQuery('#tblRequests tr');
        var total_num_row=$tr.length;
        var num_pages=0;
        if(total_num_row % req_num_row ==0){
            num_pages=total_num_row / req_num_row;
        }
        if(total_num_row % req_num_row >=1){
            num_pages=total_num_row / req_num_row;
            num_pages++;
            num_pages=Math.floor(num_pages++);
        }
        for (var i = 1; i <= num_pages; i++) {
            jQuery('#pagination').append(' <a id="tablePage'+i+'">'+i+'</a>');
        }
        var firstElement = document.getElementById('tablePage1');
        firstElement.disabled = true;
        firstElement.style.fontWeight = 'bold';
        firstElement.style.backgroundColor = 'lightgrey';

        $tr.each(function(i){
            jQuery(this).hide();
            if(i+1 <= req_num_row){
                $tr.eq(i).show();
            }

        });
        $("#pagination a").click(function (e) {
            e.preventDefault();
            $tr.hide();
            var page = $(this).text();
            var temp = page - 1;
            var start=temp*req_num_row;
            for(var i=0; i< req_num_row; i++){
                $tr.eq(start+i).show();
            }
            // make sure the table header remains visible
            $tr.eq(0).show();
            for (var j = 1; j <= num_pages; j++) {
                var enabledElement = document.getElementById('tablePage' + j);
                enabledElement.disabled = false;
                enabledElement.style.fontWeight = 'normal';
                enabledElement.style.backgroundColor = 'white';
            }
            var disabledElement = document.getElementById('tablePage' + page);
            disabledElement.disabled = true;
            disabledElement.style.fontWeight = 'bold';
            disabledElement.style.backgroundColor = 'lightgrey';

        });
    }
    jQuery('document').ready(function(){
        pagination();



    });
</script>

@if (ViewBag.Groups != null)
{
    <table>
        <tr>
            <td>
                @Html.Label("View requests for")
            </td>
            <td>
                @Html.DropDownList("ddlGroups", ViewBag.Groups as SelectList)
            </td>
            <td>
                <input type="button" value="View Requests" onclick="GetRequests();" />
            </td>
        </tr>
    </table>

    <br />
}

@if (ViewBag.CodeSigningTypes != null)
{
    <table>
        <tr>
            <td>
                @Html.Label("View requests for")
            </td>
            <td>
                @Html.DropDownList("ddlCodeSigningTypes", ViewBag.CodeSigningTypes as SelectList)
            </td>
            <td>
                <input type="button" value="View Requests" onclick="GetRequests();" />
            </td>
        </tr>
    </table>

    <br />
}
@if (ViewBag.Statuses != null)
{
    <table>
        <tr>
            <td>
                @Html.Label("View requests by status: ")
            </td>
            <td>
                @Html.DropDownList("ddlStatus", ViewBag.Statuses as SelectList)
            </td>
            <td>
                <input type="button" value="View Requests" onclick="GetRequestsByStatus();" />
            </td>
        </tr>
    </table>

    <br />
}


@if (ViewBag.Requests != null)
{
    <div id="pagination">


    </div>
    <br />
    <div class="table-responsive">
        <table id="tblRequests" style="width: 100%">
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Status
                </th>
                <th>
                    Type
                </th>
                <th>
                    File
                </th>
                <th>
                    Submitted By
                </th>
                <th>
                    Submitted On
                </th>
                <th>
                </th>
                <th>
                </th>
            </tr>
            @{ var requestList = ViewBag.Requests as List<CSG.AppServer.Entities.CodeSigningRequest>;}
            @if (requestList.Count == 0)
                {
                <tr></tr>
                    <tr>
                        <td colspan="8" align="center">
                            (No Records Found)
                        </td>
                    </tr>
            }
            @foreach (CSG.AppServer.Entities.CodeSigningRequest request in ViewBag.Requests)
                {
                <tr>
                    <td>
                        @request.Id.ToString()
                    </td>
                    <td>
                        @request.Status.ToString()
                    </td>
                    <td>
                        @request.CodeSigningType.Name
                    </td>
                    <td>
                        @if (request.Status == CSG.AppServer.CodeSigningRequestStatus.CompletedSuccess)
                        {
                            if(request.SignedFileName.Length > 40)
                            {
                                string fname=request.SignedFileName.Substring(0,40)+"...";
	                            @fname
                            }
                            else
                            {
	                            @request.SignedFileName
                            }		
                        }
                        else
                        {
				            if(request.UnsignedFileName.Length > 40)
				            {
                                @request.UnsignedFileName.Substring(0, 40)
				            }
				            else
				            {
				                @request.UnsignedFileName
				            }
                        }
                    </td>
                    <td>
                        @request.CreatedByUser.FullName
                    </td>
                    <td>
                        @request.CreatedDate
                    </td>
                    <td>
                        @if (request.Status == CSG.AppServer.CodeSigningRequestStatus.CompletedSuccess && request.Archived == null && request.SignedFileName != null)
                        {
                            <img alt="Download Signed File" src="../../Images/red_arrow_small.png" height="25px" width="25px" onclick="DownloadFile(@request.Id);" />
                        }
                    </td>
                    <td>
                        <img alt="View Request Detail" src="../../Images/details.png" height="25px" width="25px" onclick="ViewRequest(@request.Id);" />
                    </td>
                </tr>
            }
        </table>
    </div>
                }
