﻿@model ESP.AppServer.Entities.UserProfile
@{
    ViewBag.Title = "Test SSO";
}

<!-- ko with: home -->
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Your information</h2>
        <p>User ID:    @Model.LoginId</p>
        <p>First Name: @Model.FirstName</p>
        <p>Last Name:  @Model.LastName</p>
        <p>EMail:      @Model.Email</p>
        <p data-bind="text: myHometown"></p>
       
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=273732">Learn more &raquo;</a></p>
    </div>
</div>

<!-- /ko -->
