﻿@model CSG.AppServer.Reporting.ActivityLogReport

@{
    ViewBag.Title = "Activity Log Report";
}

<hgroup class="title">
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>

<hr />

<!-- This applies the style to the date control -->

<script language="javascript" type="text/javascript">
    $(function () {
        $("#StartDate").datetimepicker({ timeFormat: "hh:mm tt" });
        $("#EndDate").datetimepicker({ timeFormat: "hh:mm tt" });
    });

    function RunReport(type) {
        var saveType = document.getElementById("SelectedSaveType");

        saveType.value = type;

        document.getElementById('vsSummary').style.display = 'none';
        document.forms["Report"].submit();
    }

    function Reset() {
        window.location = "ActivityLogReportDefault";
    }

</script>

@using (Html.BeginForm("ActivityLogReport", "Reports", FormMethod.Post, new { name = "Report" }))
{
    @Html.ValidationMessage("validationErrors", new { id = "vsSummary" });

<table width="100%">
    <tr>
        <td><h3><font color="#000000">Criteria</font></h3> </td>
        <td colspan="6" align="right">
            <button type="button" onclick="Reset();">Reset</button>
            @Html.HiddenFor(m => m.SelectedSaveType)
        </td>
    </tr>

    <tr>
        <td>Log Entry Type:</td>
        <td>Start Date:</td>
        <td>End Date:</td>
        <td>
        </td>
    </tr>

    <tr>
        <td>
            @Html.DropDownListFor(m => m.LogEntryLevel, (IEnumerable<SelectListItem>)ViewBag.LogEntryLevels)
        </td>
        <td>
            @Html.TextBoxFor(m => m.StartDate, new { @class = "dateTextBox"})
        </td>
        <td>
            @Html.TextBoxFor(m => m.EndDate, new { @class = "dateTextBox"})
        </td>
        <td>
        </td>
    </tr>

   <tr>
        <td></td>
        <td colspan="6" align="right">
            @if (Model.ReportWriterType == Util.Reports.ReportWriterType.Csv)
            { 
                <img src="../../Images/csv.png" class="icon" alt="Export To CSV" onclick="RunReport('CSV');" />
            }
            <img src="../../Images/excel.png" class="icon" alt="Export To Excel" onclick="RunReport('Excel');"/>
        </td>
    </tr>

</table>
    
<table>
    <tr>
        <td>@Html.Raw(ViewBag.Html)</td>
    </tr>
</table>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
}
