﻿@model CSG.AppServer.Reporting.DashboardReport

@{
    ViewBag.Title = "Dashboard Report";
}

<hgroup class="title">
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>

<hr />

@using (Html.BeginForm("DashboardReport", "Reports", FormMethod.Post, new { name = "Report" }))
{
    @Html.ValidationMessage("validationErrors", new { id = "vsSummary" });

    <script language="javascript" type="text/javascript">
    function RunReport(type) {
        var saveType = document.getElementById("SelectedSaveType");

        saveType.value = type;

        document.getElementById('vsSummary').style.display = 'none';
        document.forms["Report"].submit();
    }

    function Reset() {
        window.location = "DashboardReportDefault";
    }

    function RoleChange() {
        var dbRole = document.getElementById("dbRole");
        var selectedRole = dbRole.options[dbRole.selectedIndex].value;
        var userField = document.getElementById("divUserField");
        var userId = document.getElementById('UserId');

        if (selectedRole == 0)
        {
            userField.style.display = "none";
        }
        else
        {
            userField.style.display = "block";
        }
    }

    $(function () {

        $("#StartDate").datepicker();
        $("#EndDate").datepicker();

        $("#User").autocomplete({

            source: '@Url.Action("GetUsers")',
            dataType: 'json',
            minLength: 2,
            select: function (event, ui) {
                var userId = document.getElementById('UserId');
                userId.value = ui.item.id;
            },
            open: function () {
                var position = $("#User").position()
                                , left = position.left
                                , top = position.top;
            }
        });
        RoleChange();
    });

    </script>

    <table width="100%">
        <tr>
            <td><h3><font color="#000000">Criteria</font></h3> </td>
            <td colspan="6" align="right" valign="bottom">
                <button type="button" onclick="Reset();">Reset</button>
                @Html.HiddenFor(m => m.SelectedSaveType)
            </td>
        </tr>

        <tr>
            <td width="30%">Status:</td>
            <td width="30%">Start Date:</td>
            <td width="30%">End Date:</td>
            <td width="10%"></td>
        </tr>
        <tr>
            <td>
                @Html.DropDownListFor(m => m.StatusId, (IEnumerable<SelectListItem>)ViewBag.Statuses)
            </td>
            <td>
                @Html.TextBoxFor(m => m.StartDate, new { @class = "dateTextBox" })
            </td>
            <td>
                @Html.TextBoxFor(m => m.EndDate, new { @class = "dateTextBox" })
            </td>
            <td width="10%"></td>
        </tr>
        @{ bool? admin = ViewBag.IsAppAdmin as bool?; }
        <tr>
            @if (admin.GetValueOrDefault() == true)
            {
                <td>
                    Role:
                    @Html.DropDownListFor(m => m.RoleId, (IEnumerable<SelectListItem>)ViewBag.Roles, new { @id = "dbRole", @onchange = "RoleChange();" })
                </td>
            }
            else
            {
                <td></td>

            }
            <td>Code Signing Type:</td>
            <td width="10%"></td>
        </tr>
        <tr>
            @if (admin.GetValueOrDefault() == true)
            {
                <td>
                    <div class="ui-widget" id="divUserField">@Html.TextBoxFor(m => m.User, new { width = "10px" })</div>
                    @Html.HiddenFor(m => m.UserId)
                </td>
            }
            else
            {
                <td></td>

            }
            <td>
                @Html.DropDownListFor(m => m.CodeSigningTypeId, (IEnumerable<SelectListItem>)ViewBag.CodeSigningTypes)
            </td>
            <td width="10%"></td>
        </tr>
        <tr>
            <td></td>

            <td colspan="6" align="right">
                @if (Model.ReportWriterType == Util.Reports.ReportWriterType.Csv)
                {
                    <img src="../../Images/csv.png" class="icon" alt="Export To CSV" onclick="RunReport('CSV');" />
                }
                <img src="../../Images/excel.png" class="icon" alt="Export To Excel" onclick="RunReport('Excel');" />
<!--                <img src="../../Images/ie.png" class="icon" alt="View in browser" onclick="RunReport('Html');" />-->

            </td>
        </tr>
    </table>

    <table>
        <tr>
            <td>@Html.Raw(ViewBag.Html)</td>
        </tr>
    </table>

            }

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
}
