﻿@{
    ViewBag.Title = "Reports";
}

<hgroup class="title">
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>

<hr />

<script type="text/javascript" language="javascript">

    function GoToReport(reportURL) {
        window.location = reportURL;
    }

</script>

<table width="100%">

@if (1==1)
{
    CSG.AppServer.Security.Gatekeeper gatekeeper = new CSG.AppServer.Security.Gatekeeper();
    if (gatekeeper.IsUserInAdminRole())
    {
            <tr>
                <td colspan="2"><h3><font color="#000000">Activity Log Report</font></h3></td>
            </tr>
            <tr>
                <td>This report allows you to view the contents of the Activity Log.</td>
                <td align="right"><input type="button" value="View" onclick="GoToReport('Reports/ActivityLogReportDefault');" /></td>
            </tr>
    }
}

     <!-- CR05 -->
    <tr>
        <td colspan="2"><h3><font color="#000000">Usage Report</font></h3></td>
    </tr>
    <tr>
        <td>This report allows you to view usage of the system over a period of time.</td>
        <td align="right"><input type="button" value="View" onclick="GoToReport('Reports/UsageReportDefault');" /></td>
    </tr>

    <tr>
        <td colspan="2"><h3><font color="#000000">Dashboard Report</font></h3></td>
    </tr>
    <tr>
        <td>This report allows you to view code signing requests filtering by team, code signing type and date.</td>
        <td align="right"><input type="button" value="View" onclick="GoToReport('Reports/DashboardReportDefault');" /></td>
    </tr>
</table>
