﻿@model CSG.AppServer.Reporting.UsageReport

@{
    ViewBag.Title = "Usage Report";
}

<hgroup class="title">
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>

<hr />

@using (Html.BeginForm("UsageReport", "Reports", FormMethod.Post, new { name = "Report" }))
{
    @Html.ValidationMessage("validationErrors", new { id = "vsSummary" });

    <script language="javascript" type="text/javascript">
        function RunReport(type) {
            var saveType = document.getElementById("SelectedSaveType");

            saveType.value = type;

            document.getElementById('vsSummary').style.display = 'none';
            document.forms["Report"].submit();

        }

        function Reset() {
            window.location = "UsageReportDefault";
        }

        function UpdateUI() {

            @{ bool? admin = ViewBag.IsAppAdmin as bool?; }

            var usageReportTypeId = document.getElementById("UsageReportTypeId");

            var codeSigningTypeField = document.getElementById("divCodeSigningTypeField");
            var userField = document.getElementById("divUserField");
            var userId = document.getElementById('UserId');

            switch (usageReportTypeId.value) {
                case "0":
                    userField.style.display = "none";
                    userId.style.display = "none";
                    codeSigningTypeField.style.display = "none";
                    break;
                case "1":
                    @if (admin.GetValueOrDefault() == false)
                    {
                        <text>
                        userField.style.display = "none";
                        userId.style.display = "none";
                        </text>
                    }
                    else
                    {
                        <text>
                        userField.style.display = "block";
                        userId.style.display = "block";
                        </text>
                    }
                    codeSigningTypeField.style.display = "none";
                    break;
                case "2":
                    codeSigningTypeField.style.display = "block";
                    userId.style.display = "none";
                    userField.style.display = "none";
                    break;
            }
        }

        $(function () {

            $("#StartDate").datepicker();
            $("#EndDate").datepicker();

            $("#User").autocomplete({

                source: '@Url.Action("GetUsers")',
                dataType: 'json',
                minLength: 2,
                select: function (event, ui) {
                    var userId = document.getElementById('UserId');
                    userId.value = ui.item.id;
                },
                open: function () {
                    var position = $("#User").position()
                                    , left = position.left
                                    , top = position.top;
                }
            });
        });

    </script>

    <table width="100%">
        <tr>
            <td><h3><font color="#000000">Criteria</font></h3> </td>
            <td colspan="4" align="right" valign="bottom">
                <button type="button" onclick="Reset();">Reset</button>
                @Html.HiddenFor(m => m.SelectedSaveType)
            </td>
        </tr>

        <tr>
            <td width="30%">Report Type:</td>
            <td width="30%"></td>
            <td width="30%">Start Date:</td>
            <td width="30%">End Date:</td>
            <td width="10%"></td>
        </tr>
        <tr>
            <td>
                @Html.DropDownListFor(m => m.UsageReportTypeId, (IEnumerable<SelectListItem>)ViewBag.UsageReportTypes, new { onchange = "UpdateUI();" })
            </td>
            <td>
                @if (admin.GetValueOrDefault() == false)
                {
                    <div id="divUserField">
                        <div class="ui-widget">@Html.TextBoxFor(m => m.User, new { width = "10px", @disabled = "disabled" })</div>
                        @Html.HiddenFor(m => m.UserId)
                    </div>
                }
                else
                {
                    <div id="divUserField">
                        <div class="ui-widget">@Html.TextBoxFor(m => m.User, new { width = "10px" })</div>
                        @Html.HiddenFor(m => m.UserId)
                    </div>
                }
                <div id="divCodeSigningTypeField">
                    @Html.DropDownListFor(m => m.CodeSigningTypeId, (IEnumerable<SelectListItem>)ViewBag.CodeSigningTypes)
                </div>
            </td>
            <td>
                @Html.TextBoxFor(m => m.StartDate, new { @class = "dateTextBox" })
            </td>
            <td>
                @Html.TextBoxFor(m => m.EndDate, new { @class = "dateTextBox" })
            </td>
            <td width="10%"></td>
        </tr>
        <tr>
            <td></td>

            <td colspan="4" align="right">
                @if (Model.ReportWriterType == Util.Reports.ReportWriterType.Csv)
                {
                    <img src="../../Images/csv.png" class="icon" alt="Export To CSV" onclick="RunReport('CSV');" />
                }
                <img src="../../Images/excel.png" class="icon" alt="Export To Excel" onclick="RunReport('Excel');" />
            </td>
        </tr>
    </table>

    <table>
        <tr>
            <td>@Html.Raw(ViewBag.Html)</td>
        </tr>
    </table>

                    }

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
}

<script type="text/javascript" language="javascript">
    UpdateUI();
</script>